/*Fonts*/
@font-face {
    font-family: 'IntelClearRegular';
    src: url('fonts/IntelClear_WLatn_Rg.woff');
    src: url('fonts/IntelClear_WLatn_Rg.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Rg.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Rg.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearRegularItalic';
    src: url('fonts/IntelClear_WLatn_It.woff');
    src: url('fonts/IntelClear_WLatn_It.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_It.woff') format('woff'),
         url('fonts/IntelClear_WLatn_It.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearLight';
    src: url('fonts/IntelClear_WLatn_Lt.woff');
    src: url('fonts/IntelClear_WLatn_Lt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Lt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Lt.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearLightItalic';
    src: url('fonts/IntelClear_WLatn_LtIt.woff');
    src: url('fonts/IntelClear_WLatn_LtIt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_LtIt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_LtIt.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearBold';
    src: url('fonts/IntelClear_WLatn_Bd.woff');
    src: url('fonts/IntelClear_WLatn_Bd.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Bd.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Bd.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearBoldItalic';
    src: url('fonts/IntelClear_WLatn_BdIt.woff');
    src: url('fonts/IntelClear_WLatn_BdIt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_BdIt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_BdIt.ttf') format('truetype'),
}


/*Our Styles*/
html,
body {
	height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,a,select{font-family:'IntelClearRegular','helvetica',sans-serif;}
body {
	font-size: 14px;
	line-height: 20px;
	color: #464646;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
strong {
	font-family:'IntelClearBold',sans-serif;
	font-weight: normal;
}
/*iPhone*/
@media screen and (max-device-width: 480px){
	body {
		min-width: 1024px;
	}
}
/*iPad*/
@media only screen and (device-width: 768px) {
	body {
		min-width: 1024px;
	}
}
a {
  color: #1570a6;
  text-decoration: none;
  outline: 0 none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:focus {
  color: #000;
  text-decoration: none;
  outline: 0 none;
}
h1, h2, h3, h4 {
	font-family: 'IntelClearRegular', sans-serif;
	font-weight: normal;
	color: #00447b;
	line-height: 1.25;
	margin: .25em 0 .75em;
	font-size: 34px;
}
h4 {
	font-size: 15px;
	color: #00447b;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	/*padding: 0 0 30px; */
}
label {
	font-family: 'IntelClearBold', sans-serif;
	cursor: default !important;
}
label.checkbox.inline {
	font-family: 'IntelClearRegular', sans-serif;
}

/*Bootstrap Overwrite*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 13px;
}

.table-bordered,
.table-bordered tr,
.table-bordered td,
.table-bordered th {
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border: 0px !important;
}
.table-bordered th {
	border-right: 2px solid #fff !important;
}

.accordion-group {
	margin-bottom: 1px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.accordion-head,
.accordion-heading {
	font-size: 15px;
	background-color: #007dc6;
	color: #fff;
}
.accordion-heading a {
	color: #fff;
}
.accordion-heading a:hover {
	text-decoration: none;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #fff;
	background-color: #f2f2f2;
	font-size: 14px;
}
.accordion-head {
	background-color: #00adef;
	padding: 8px 15px 1px 15px;
	margin-bottom: 1px;
}
.accordion-head img {
	margin-top: 8px;
}
.learn-more-arrow {
	width: 92px;
	font-family: 'IntelClearBold', sans-serif;
	color: #fff;
	background: transparent url(../img/bg-learn-more-arrow.png) no-repeat right 6px;
	padding-top: 9px;
	display: block;
}
.learn-more-arrow:hover {
	color: #fff;
	text-decoration: none;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.green-arrow {
	background: #00adef url(../img/bg-green-arrow.png) no-repeat bottom right;
}
.green-arrow strong {
	font-weight: 600;
}
.green-arrow .learn-more {
	width: 90px;
	position: relative;
	top: 3px;
	padding-top: 15px;
	left: 158px;
	font-weight: 600;
}
.green-arrow .learn-more a {
	color: #fff;
}
.green-arrow .learn-more a:hover {
	text-decoration: none;
}
.popover {
	max-width: 640px;
}
.popover-thumbnail {
	width: 109px;
	margin-top: 5px;
}
.popover-desc {
	width: 240px;
	font-size: 12px;
	margin: 5px 20px 14px 20px;
	line-height: 16px;
}
.popover-desc h4 {
	color: #1570a6;
	font-size: 14px;
	margin: 0 0 4px 0;
}
.popover-desc a.btn-green {
	margin-top: 10px;
}


/*Editable page*/
.header-row {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px -2px 8px 0px #999;
	-moz-box-shadow: 0px -2px 8px 0px #999;
	box-shadow: 0px -2px 8px 0px #999;
	position: fixed;
	bottom: 0px;
	z-index: 200;
	border-bottom: 0;
	width: 100%;
	max-width: 3000px;
	min-width: 940px;
	border-top: 1px solid rgba(0,0,0,.06);
	border-top: 1px solid #e6e6e6;
	border-color: rgba(0,0,0,.07);
	background: #eee;
}
.header-row header {
	width: 940px;
	height: 56px;
	padding: 0 0 0 0;
	margin: 0 auto;
}
.header-right {
	margin-top: 12px;
	float: right;
}


/*Tabs*/
h2.tabbed-header {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 24px;
	color: #00adef;
	margin-bottom: 31px;
}
h1.tabbed-header span,
h2.tabbed-header span {
	font-size: 24px;
	font-family: 'IntelClearRegular', sans-serif;
	color: #464646;
}
h1.tabbed-header span {
	font-family: 'IntelClearRegular', sans-serif;
	color: #00adef;
}
h1.tabbed-header a,
h2.tabbed-header a {
	font-size: 24px;
	font-family: 'IntelClearRegular', sans-serif;
	color: #00adef;
}
h1.tabbed-header a:hover,
h2.tabbed-header a:hover {
	text-decoration: none;
}
h1.tabbed-header a.active,
h2.tabbed-header a.active {
	/*font-weight: 700;*/
}

.tabbed-contents .nav-tabs > li {
	/*width: 33.333333%;*/
	width: 50%;
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li > a {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 18px;
	color: #00adef;
	background-color: #ebebeb;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #fff;
	cursor: default;
	background-color: #00adef;
	border: 0;
	border-bottom-color: transparent;
}





/*Campaign Requests*/
.nav-tabs-request.twoup > li {
	width: 49.7%;
}
.nav-tabs-request.threeup > li {
	width: 33.3333333%;
}
.nav-tabs-request.fourup > li {
	width: 24.7%;
}
.nav-tabs-request.fiveup > li {
	width: 19.7%;
}
.nav-tabs-request.sixup > li {
	width: 16.4%;
}
.nav-tabs-request {
	border-bottom: 0;
}
.nav-tabs-request > li {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #00447b;
	background-color: #ebebeb;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-right: 2px;
	text-align: center;
	float: left;
}
.nav-tabs-request > li:last-child {
	margin-right:0;
}
.nav-tabs-request > .active {
	color: #fff;
	cursor: default;
	background-color: #007dc6;
	border: 0;
	border-bottom-color: transparent;
}

.request-step {
	margin-top: 30px;
}
.request-step.step1 {
	text-align: center;
}
#content-update .request-step.step0 label {
	margin-bottom: 0px;
}
#content-update .request-step.step1 label {
	margin-bottom: 18px;
}
#content-update .request-step.step2 label,
#content-update .request-step.step3 label,
#content-update .request-step.step4 label {
	margin-top: 0;
}
.request-step.step2 h3,
.request-step.step3 h3,
.request-step.step4 h3 {
	color: #464646;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}
h3.fieldgroup-header {
	color: #00447b !important;
	text-align: left !important;
	margin-bottom: -20px;
	margin-top: 32px;
	font-size: 18px !important;
}
.step2 .form-horizontal .control-group:last-child,
.step3 .form-horizontal .control-group:last-child,
.step4 .form-horizontal .control-group:last-child {
	margin-bottom: 0px;
}
.step0 .form-horizontal .controls,
.step3 .form-horizontal .controls,
.step4 .form-horizontal .controls {
	margin-left: 244px;
}
.lt-ie9 .step4 .form-horizontal .controls {
	margin-left: 0px;
}
.input-note {
	width: 70%;
	margin-top: 10px;
	margin-left: 64px;
}
.lt-ie9 .input-note {
	margin-left: 0px;
}
.lt-ie9 .first-checkbox {
	margin-left: -3px;
 }
.fieldgroup,
.controls-minigroup {
	padding: 30px 0;
	border-bottom: 1px solid #ebebeb;
}
.fieldgroup:last-child,
.controls-minigroup:last-child {
	border-bottom: none;
}
.controls-minigroup:first-child {
	padding-top: 0;
}
.controls-minigroup:last-child {
	padding-bottom: 0;
}
.cr-icon {
	width: 100px;
	margin-right: 20px;
	color: #00447b;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.cr-icon p {
	margin-bottom: 2px;
}
.cr-icon span {
	color: #cc0000;
}
.cr-icon img {
	margin-top: 24px;
}
.cr-icon img.alone {
	margin-top: 0px;
}
.cr-description {
	/*width: 640px;
	margin-right: 20px;*/
	width: 800px;
	margin-right: 0;
}
.step0 .cr-description {
	width: 790px;
}
.cr-description h4 {
	font-family: 'IntelClearBold', sans-serif;
	color: #464646;
	font-size: 15px;
	font-weight: normal;
}
.cr-screenshot {
	width: 160px;
	display: none;
}
.speaker-fields input,
.speaker-fields textarea {
	margin-bottom: 8px !important;
}
.speaker-fields textarea {
	height: 65px;
}
.speaker {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	display: none;
}
.speaker_1 {
	display: block;
}
.bios-extra {
	margin-top: 11px;
	display: none;
}


#content-update {
	margin-left: 0;
}
#content-update .accordion-head,
#content-update .accordion-heading {
	font-size: 18px;
	background-color: #ebebeb;
	color: #333;
}
#content-update .accordion-heading a {
	color: #333;
}
#content-update .accordion-heading a:hover {
	text-decoration: none;
}
#content-update .accordion-inner {
	padding: 24px 4px;
	border-top: 1px solid #fff;
	background-color: #fff;
}
#content-update .accordion-head {
	background-color: #598102;
	padding: 8px 15px;
	margin-bottom: 1px;
}
#content-update label {
	font-size: 14px;
	margin-right: 18px;
	margin-top: 5px;
}
#content-update label.error,
.single-request label.error {
	margin-left: 41px;
	margin-top: 3px !important;
	font-size: 13px;
	font-weight: normal;
	display: none !important; /*For launch, breaking dates*/
}
#content-update .step3 label.error,
#content-update .step4 label.error {
	margin-left: 0px;
}
#content-update .form-horizontal .control-label {
	float: left;
	width: 204px;
	padding-top: 5px;
	text-align: right;
	margin-right: 40px;
}
#content-update .form-horizontal.form-taut .control-label {
	padding-top: 0px;
}
#content-update label span {
	font-size: 14px;
	font-weight: normal;
}
#content-update label.inline,
.single-request label.inline {
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
#content-update .input-wide {
	width: 60%;
}
#content-update .input-full {
	width: 98%;
}
#content-update .upload-div {
	/*margin-left: -20px;
	margin-top: -5px;*/
	margin-top: 18px;
}
.required-mark {
	margin-left: -14px;
	margin-right: 8px;
	vertical-align: middle;
	color: #cc0000;
}
textarea.textarea-medium {
	height: 100px;
}
ul.form-options {
	margin: 0;
	padding: 7px 0 0 0;
	clear: both;
}
ul.form-options li {
	list-style: none;
	padding-bottom: 14px;
}


/*Video Grid*/
#video-grid h3 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 28px;
	color: #00adef;
	margin-top: 38px;
	margin-bottom: 9px;
}



/*Start*/
.auxbar {
	height: 32px;
	background-color: #007dc5;
	color: #fff;
}
.auxbar .share {
	border-right: 1px solid #000;
}
.auxbar .share .tab {
	height: 32px;
	padding: 0;
	font-family: 'IntelClearBold', sans-serif;
	color: #fff;
	display: inline-block;
	line-height: 31px;
	border-left: 1px solid #000;
}
.auxbar .share .tab:hover,
.auxbar .share .tab.active {
	background-color: #00447b;
}
.auxbar .share .tab a,
.auxbar .share .tab a:visited {
	height: 32px;
	padding: 0 16px;
	font-family: 'IntelClearBold', sans-serif;
	display: block;
	color: #fff;
}
.auxbar .share .tab a:hover {
	text-decoration: none;
}
.auxbar .share .tab.welcome {
	padding: 0 16px;
	border-left: 0;
}
.auxbar .share .tab.welcome:hover {
	background-color: #007dc5;
}

.topnav {
	height: 116px;
	background: #007dc5 url(../img/bg-topnav.png) repeat-x top center;
	color: #fff;
}
.topnav .logo {
	margin-top: 22px;
}
.topnav.nomenu .logo {
	margin-top: 38px;
}
.topnav.adminmenu {
	height: 156px;
}
.topnav .logo-update-center {
	margin: 22px 14px 0 0;
}
.topnav .links {
	margin-top: 82px;
	font-size: 17px;
	clear: both;
}
.lt-ie9 .topnav .links {
	padding-top: 0px;
}
@-moz-document url-prefix() {
	.topnav .links {
		font-family: 'IntelClearRegular', sans-serif;
		/*font-weight: 400;*/
	}
}
.topnav .links a,
.topnav .links span {
	color: #66ccff;
	margin-right: 22px;
}
.topnav .links a:hover {
	color: #fff;
	text-decoration: none;
}
.topnav .links a.active {
	color: #fff;
}

.topnav .links-admin {
	height: 40px;
	background: #7fa6c5;
	margin-top: 14px;
	font-size: 14px;
	clear: both;
}
@-moz-document url-prefix() {
	.topnav .links-admin {
		font-family: 'IntelClearRegular', sans-serif;
		/*font-weight: 400;*/
	}
}
.topnav .links-admin .container {
	padding-top: 10px;
}
.topnav .links-admin a,
.topnav .links-admin span {
	color: #00447b;
	margin-right: 22px;
}
.topnav .links-admin a:hover {
	color: #fff;
	text-decoration: none;
}
.topnav .links-admin a.active {
	color: #fff;
}
.lt-ie9 .hero h1 { font-size: 40px; }
.lt-ie9 .hero p { font-size: 16px; }
.hero {
	width: 100%;
	height: 300px;
	font-size: 18px;
	background: #c2e1f0 url(../img/bg-hero-landing.jpg) no-repeat top center;
	color: #1570a6;
	line-height: 24px;
}
.oem .hero {
	background: #464646 url(../img/bg-hero-oem.jpg) no-repeat top center;
}
.hero h1 {
	font-size: 40px;
	color: #1570a6;
	margin: 28px 0 15px 0;
	font-family: 'IntelClearLight', sans-serif;
	line-height: 46px;
}
.hero p {
	font-size: 18px;
	margin-bottom: 20px;
}
.hero .cta {
	top: 0px;
	right: 0px;
	position: relative;
}
.hero .cta.btn-contact-us {
	position: absolute;
	top: 333px;
}
.hero .left {
	width: 485px;
	position: absolute;
	left: 0px;
}
.hero .right {
	width: 475px;
	margin-top: 48px;
	position: absolute;
	right: 0px;
}

/*Slideshow*/
#slideshow {
	position: relative;
}
#slideshow .slideshow-container {
	width: 940px;
	position: relative;
	display: none;
}
#nav {
	position: absolute;
	top: 264px;
	left: 3px;
	z-index: 8;
}
#nav a {
	width:17px;
	height:16px;
	margin:0 21px 0 0;
	background:transparent url(../img/bg-pager.png) no-repeat center center;
	float:left;
	text-indent: -999em
}
#nav a:hover, #nav a.activeSlide {
	background:transparent url(../img/bg-pager-over.png) no-repeat center center;
}

/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.hero { height: 456px; font-size: 15px; }
	.hero h1 { font-size: 24px; }
	.hero .left { width: 332px; margin-right: 20px; }
	.hero .left img { width: 330px; }
}
@media (max-width: 767px) {
	.hero { height: 456px; height: 456px; font-size: 15px; }
	.hero h1 { font-size: 24px; }
	.hero .left { width: 332px; margin-right: 20px; }
	.hero .left img { width: 330px; }
}*/

/*Login*/
#login {
	width: 470px;
	margin: 90px auto;
}
#login h1 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #00447b;
	margin:0 0 10px 0;
}
#login h4 {
	font-size: 15px;
	color: #464646;
	margin-bottom: 24px;
}
#login input[type="text"],
#login input[type="password"] {
	width: 468px;
}

.intro-body {
	margin-top: 45px;
	margin-bottom: 50px;
}
.intro-body h1 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 26px;
	margin: -4px 0 14px 0;
}
.intro-body .intro p {
	font-size: 15px;
}
.intro-body .intro .first {
	margin-top: 40px;
}
.purple-bar {
	background-color: #68217a;
	color: #fff;
	padding: 18px 0;
	font-size: 18px;
}
.oem .purple-bar {
	background-color: #00447b;
}
.purple-bar .pull-left {
	padding-top: 5px;
}
.purple-bar a,
.purple-bar a:hover {
	color: #fff;
	text-decoration: none;
}
.purple-bar .pull-right a {
	float: left;
}

.dark-blue {
	background-color: #00447b;
	padding: 45px 0 23px 0;
}
.dark-blue .span12 {
	margin-left: 10px;
}
.dark-blue .span7 {
	margin-left: 0px;
}
.dark-blue .pull-right {
	width: 338px;
}
.row.dark-blue h4 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 18px;
	color: #00adef;
	margin:0 0 10px 0;
}
.dark-blue p {
	color: #fff;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 20px;
}
/*.dark-gray img { margin-right: 20px; }
.dark-gray img.first { margin-left: -10px; }
.dark-gray img.last { margin-right: 0; }
.dark-gray img.logo-partner { margin: 15px 0 0 0; }
.dark-gray img.logo-partner-first { margin-left: -10px; }*/

/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.dark-gray img { width: 228px; }
}
@media (max-width: 767px) {
	.dark-gray img { width: 228px; }
}*/

.callout-box {
	width: 250px;
	height: 97px;
	padding: 18px 30px 0 20px;
	margin: 45px 20px 45px 0;
	float: left;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
.oem .callout-box {
	font-size: 19px;
}
.callout-box img {
	float: left;
	margin-right: 6px;
}
.callout-box.dark-blue {
	background: #1570a6 url(../img/bg-callout-box-darkblue.png) no-repeat bottom right;
}
.callout-box.green {
	background: #007dc6 url(../img/bg-callout-box-green.png) no-repeat bottom right;
}
.callout-box.blue {
	background: #00bef5 url(../img/bg-callout-box-blue.png) no-repeat bottom right;
}
.callout-box.first { margin-left: -10px; }
.callout-box.last { margin-right: 0; }
.callout-box .ext-link {
	position: relative;
	bottom: -21px;
	width: 220px;
	right: -22px;
	text-align: right;
	font-size: 17px;
}
.callout-box .ext-link a,
.callout-box .ext-link a:hover {
	color: #fff;
	text-decoration: none;
}

/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.callout-box { width: 180px; }
	.callout-box .ext-link { right: -19px; }
}
@media (max-width: 767px) {
	.callout-box { width: 180px; }
	.callout-box .ext-link { right: -19px; }
}*/

.btn-green {
	height: 30px;
	padding: 0px 42px 0 28px;
	font-family: 'IntelClearBold', sans-serif;
	font-size: 15px;
	line-height: 29px;
	background: transparent url(../img/bg-btn.png) repeat-x top right;
	color: #333;
	display: inline-block;
	zoom: 1;
	border: none;
	outline: none;
}
a.btn-green:focus,
a.btn-green:hover {
	text-decoration: none;
	color: #333;
}
.btn-green.add {
	background: transparent url(../img/bg-btn-add.png) repeat-x top right;
	padding-left: 18px;
}
.btn-green.btn-fileupload {
	width: 406px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload.png) no-repeat top left;
	padding-left: 26px;
}
.btn-green.btn-fileupload-sm {
	width: 304px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload-sm.png) no-repeat top left;
	padding-left: 26px;
}
.btn-green.btn-fileupload-med {
	width: 359px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload-med.png) no-repeat top left;
	padding-left: 26px;
}
.btn-green.minus {
	background: transparent url(../img/bg-btn-minus.png) repeat-x top right;
	padding-left: 18px;
}
.btn-green.download {
	background: transparent url(../img/bg-btn-download.png) repeat-x top right;
	padding-left: 13px;
}
.btn-green.back {
	color: #fff;
	padding: 0 28px 0 42px;
	background: transparent url(../img/bg-btn-back.png) repeat-x top left;
}
a.btn-green.back:focus,
a.btn-green.back:hover {
	text-decoration: none;
	color: #fff;
}
.btn-green.submit-disabled {
	color: #fff;
	padding: 0 28px 0 42px;
	background: transparent url(../img/bg-btn-back.png) repeat-x top right;
	pointer-events:none;
}
a.btn-green.submit-disabled:focus,
a.btn-green.submit-disabled:hover {
	text-decoration: none;
	color: #fff;
}
.btn-green.plain,
.btn-green.active {
	padding: 0 28px 0 28px;
	background: transparent url(../img/bg-btn-plain.png) repeat-x top left !important;
	color: #333 !important;
}
.btn-green.gray,
.btn-green.gray:hover {
	padding: 0 28px 0 28px;
	background: transparent url(../img/bg-btn-plain-gray.png) repeat-x top left;
	color: #fff;
}
.btn-green.continue,
.btn-green.continue:hover {
	padding: 0px 32px 0 18px;
	background: transparent url(../img/bg-btn-continue.png) repeat-x top right;
	color: #fff;
}

.centered {
	text-align: center;
}
/*
.btn-green {
	height: 30px;
	padding: 0px 36px 0 36px;
	font-size: 15px;
	font-weight: 600;
	line-height: 28px;
	background: #00447b;
	color: #fff;
	display: inline-block;
	zoom: 1;
}
a.btn-green:focus,
a.btn-green:hover {
	text-decoration: none;
	color: #fff;
}
*/

.submit-btn {
	border: 0;
	font-weight: 600;
}

.row h4 {
	margin: 0 0 6px 0;
}
#zebra .row {
	padding: 11px 20px;
}
#zebra.calendar-detail-request .row {
	padding: 6px 20px;
}
.row.odd {
	background-color: #f9f9f9; /*#e9e9e9;*/
	padding: 44px 0;
}
.row.even {
	padding: 44px 0;
}
.row-thumb {
	margin-left: 10px;
	margin-right: -20px;
}
/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.row-thumb img { width: 148px; }
}
@media (max-width: 767px) {
	.row-thumb img { width: 148px; }
}*/
.calendar {
	width: 440px;
	margin-left: 10px;
	font-size: 14px;
}
.capabilities {
	padding: 0 15px;
}
.capabilities p {
	font-size: 14px;
}
.calendar h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 4px;
}
.trainings h1 {
	margin-top: 36px;
	margin-bottom: 8px;
}
.capabilities h4 {
	font-size: 20px;
}
.calendar ul,
.trainings ul,
.capabilities ul {
	margin: 10px 0 20px 0;
}
.calendar li,
.trainings li,
.capabilities li {
	list-style: none;
	font-size: 14px;
}

.btn-group a {
	margin-top: 10px;
	margin-right: 20px;
}
.files,
.files p {
	font-style: normal;
	font-size: 13px !important;
}

/*Briefing Docs*/
.docs h3 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 18px;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 7px;
}
h3.small-header {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #464646;
}
.docs ul {
	margin: 0 0 22px 0;
}
.docs li>ul {
	margin-top: 10px;
	margin-left: 22px;
}
.docs li {
	list-style: none;
	padding-bottom: 8px;
	/*font-size: 15px;*/
}
li.li-header {
	font-size: 16px;
	font-weight: 600;
	color: #666;
}

.table-striped {
	clear: both;
}
.requests-table th {
	background: #00adef;
	color: #fff;
}
.requests-table th {
	cursor: pointer;
	white-space: nowrap;
}
.requests-table th b,
.requests-table th.sorting b {
	margin-top: 3px;
	margin-left: 4px;
	background-position: -288px -120px;
}
.requests-table th.sorting_desc b {
	margin-top: 3px;
	margin-left: 4px;
	background-position: -313px -119px;
}
.requests-table th,
.requests-table td {
	padding: 10px;
}
.requests-table thead input {
	width: 85%;
}
.single-request .row.odd,
.single-request .row.even {
	font-size: 14px;
	padding: 12px 20px;
	margin-left: 0px;
	border: 1px solid #dddddd;
	border-top: 0;
}
.single-request .row .pull-left {
	width: 680px;
}
.single-request .row:first-child,
.row.row-border {
	border-top: 1px solid #dddddd !important;
}
.single-request .row.odd.grouped,
.single-request .row.even.grouped {
	padding: 0 20px;
}
.single-request label {
	font-size: 14px;
	width: 170px;
	text-align: right;
	margin-right: 40px;
	margin-bottom: 0;
	float: left;
}
.calendar-detail-request label {
	font-size: 13px;
	width: 100px;
}
.calendar-detail-request .row .pull-left {
	width: 320px;
}
.single-request .editable-checklist label {
	font-size: 14px;
	width: 170px;
	font-weight: normal;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 0;
	float: left;
}
.single-request .editable-input .input-medium {
	width: 240px;
}
.single-request label.checkbox,
.single-request label.radio {
	width: auto;
	margin-right: 10px;
	float: none;
}
.single-request select, 
.single-request textarea,
.single-request input {
	margin-bottom: 0;
}
.single-request ul {
	margin: 0;
}
.single-request li {
	list-style: none;
}
ul.notes {
	margin-left: 13px;
}
ul.notes li {
	list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}
.single-request input[type="text"],
.single-request textarea {
	width: 280px;
}
.single-request-resource input[type="text"],
.single-request-resource textarea {
	width: 340px;
}
.single-request input.input-medium {
	width: 110px;
}
.star-rating s {
    color: #ccc;
    font-size: 14px;
    cursor: default;
    text-decoration: none;
    line-height: 15px;
}
.star-rating s.rated {
	color: #000;
}
.star-rating {
    padding: 2px;
}
.star-rating s.rated:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2605";
}
.dataTables_length {
	margin-top: 8px;
	float: right;
}
.dataTables_filter {
	float: left;
}
.dataTables_length select {
	width: 60px;
}
.dataTables_info {
	float: left;
}
.dataTables_paginate {
	float: right;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	width: 23px;
	height: 23px;
	background: transparent url(../img/prev.png) no-repeat;
	display: block;
	text-indent: -9999em;
	float: left;
	cursor: pointer;
}
.paginate_disabled_next,
.paginate_enabled_next {
	width: 23px;
	height: 23px;
	background: transparent url(../img/next.png) no-repeat;
	display: block;
	text-indent: -9999em;
	float: left;
	cursor: pointer;
}


/*Surveys*/
.survey-table th {
	vertical-align: top;
}
.survey-table td {
	padding: 0px 4px 24px 4px;
}
.survey-table tr td:first-child {
	/*vertical-align: top;*/
}


/*Modals*/
.modal {
	margin-left: -234px;
}
.modal-header {
	border: 0;
}
.modal-body form {
	margin-top: 5px;
}


.download-modal {
	width: 466px;
}
.download-modal .modal-header h3,
.download-modal .modal-header h4 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 16px;
	color: #00447b;
	margin:19px 0 0 15px;
}
.download-modal .modal-header h4 {
	font-size: 14px;
	color: #464646;
	margin-top: 0;
	margin-bottom: 10px;
}
.download-modal div {
	background-color: #eeeeee;
}
.download-modal .modal-body {
	padding: 0 30px;
}
.download-modal input[type="text"],
.download-modal textarea {
	/*width: 394px;*/
	width: 100%;
	height: auto;
	/*border: 0px;*/
}

.location-cols label {
	font-size: 14px;
	font-weight: 500;
}
.location-cols .location {
	width: 180px;
}


/*Video Player*/
.video-player {
	width: 940px;
	height: 354px;
	background: #e9e9e9;
	margin-bottom: 16px;
	position: relative;
	clear: both;
}
/*single for now*/
.video-player.single-player {
	height: 468px;
}
.video-player .left {
	width: 460px;
	height: 320px;
	padding: 34px 30px 0 30px;
	border-right: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.video-player .single iframe {
	margin-top: 20px;
	margin-left: 114px;
}
.video-player .single h3,
.video-player .left h3 {
	font-size: 18px;
	color: #00adef;
	margin-top: 13px;
}
.video-player .single h3 {
	margin-left: 114px;
}
.video-player .right {
	width: 379px;
	height: 320px;
	padding: 34px 30px 0 30px;
	position: absolute;
	overflow: auto;
	top: 0;
	right: 0;
}
.video-player .right ul {
	width: 350px;
	margin: 0;
	padding: 0;
}
.video-player .right ul li {
	width: 350px;
	font-size: 18px;
	padding-bottom: 10px;
	display: block;
	clear: both;
}
.video-player .right ul li img {
	vertical-align: middle;
	display: inline-block;
	margin-top: -11px;
}
.video-player .right .yt-image {
	width: 120px;
	height: 68px;
	margin-right: 18px;
	overflow: hidden;
	background: #e9e9e9;
	font-size: 0;
	vertical-align: middle;
	display: inline-block;
}
.video-player .right .yt-title {
	width: 186px;
	vertical-align: middle;
	display: inline-block;
}
.video-player .right ul li a,
.video-player .right ul li a:visited,
.video-player .right ul li a:active,
.video-player .right ul li a:hover {
	color: #00adef;
	text-decoration: none;
}

input.error,
textarea.error {
	border:1px solid #cc0000 !important;
}
label.error {
	display:none !important;
	font-size: 11px;
	color: #999;
}
#account-update label.error,
#forgot label.error {
	display:block !important;
}
.small {
	font-size: 11px;
}
a.blue-download {
	font-weight: 600;
}
a.blue-download:hover {
	color: #1570a6;
	font-weight: 600;
	text-decoration: none;
}
.icon-download-blue {
	background-image: url(../img/bg-download-blue.png);
	background-position: 0px 1px;
}
.no-padding {
	padding: 0 !important;
}
.error {
	color:#ff0000;
}
.helper-icon {
	margin-left: 5px;
	margin-top: 3px;
	cursor: pointer;
}
.textarea-align {
	margin-top: -42px;
}


/*Typeahead*/
.twitter-typeahead {
	width: 100%;
}
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
ul.normal {
	margin: 0 0 10px 25px;
}
ul.normal li {
	list-style: disc;
}
ul.filterable-list {
	margin: 14px 0 14px 0;
	list-style: none;
}
.ft-label {
	font-family:'IntelClearRegular','helvetica',sans-serif !important;
	text-transform: uppercase;
}
#contact-list-filterable-placeholder {
	margin-top: 7px;
}
#existing-no input,
#existing-no select {
	margin-top: 4px;
	margin-bottom: 6px;
}

/* Notification rules */
.default-rules-list{
	margin-top: 80px;
}

/*Calendar*/
.fc-event,
.fc-event:hover,
.fc-event:visited,
.fc-event:active {
	color: #fff;
	text-decoration: none;
}
.fc-event-time { display: none; }
.fc-grid th {
	text-align: center;
	background: #dddddd;
	border-left: 1px solid #ffffff;
}
.fc-grid th.fc-first {
	border-left: 1px solid #dddddd;
}
.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.cal-webinar {
	background-color: #007ccb !important;
	border: 1px solid #007ccb !important;
}
.cal-enurture {
	background-color: #7ea5c8 !important;
	border: 1px solid #7ea5c8 !important;
}
.cal-newsletter {
	background-color: #f3b539 !important;
	border: 1px solid #f3b539 !important;
}
.cal-email {
	background-color: #9ec94c !important;
	border: 1px solid #9ec94c !important;
}
.cal-placeholder {
	background-color: #E799A3 !important;
	border: 1px solid #E799A3 !important;
}
.cal-legend-block {
	height: 4px;
	margin-bottom: 4px;
}
.calendar-page-blocks {
	width: 172px;
}

#filters h5 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
}
#filters ul {
	margin-left: 0;
}
#filters li {
	font-size: 15px;
	list-style: none;
	padding-left: 18px;
}
#filters li.active {
	background: url(../img/bullet-checkmark.png) no-repeat 0 5px;
}
#filters li.active a {
	color: #000 !important;
}

em.sla-notice {
	color: #999;
	font-family: 'IntelClearRegularItalic', sans-serif;
	font-size: 13px;
	font-style: normal;
	padding-top: 1px;
	float: right;
}

a.delete-file,
a.delete-file:hover {
	background: transparent;
	border: 0;
	/*text-shadow: none;
	box-shadow: none;
	margin-right: 1px;*/
	/*padding: 4px 6px;*/
}
a.delete-file .icon-trash {
	background: transparent url(../img/icon-delete.png) no-repeat center center;
}
.progress {
	height: 11px;
	width: 140px !important;
}
td.in-progress, td.in-progress a {
	font-family:'IntelClearBold',sans-serif;
	/*font-family:'IntelClearBoldItalic',sans-serif;*/
}
td.in-progress { background-color: #fdfbf0 !important; } /*d9f3fd blue */

/*Responsive*/
@media (min-width: 768px) and (max-width: 979px) {
	.btn-group { white-space: normal; }
}
@media (max-width: 767px) {
	.btn-group { white-space: normal; }
}

footer {
	height: 24px;
	color: #000;
	background: #eeeeee url(../img/bg-footer.png) repeat-x top center;
	text-align: left;
	font-size: 12px;
	padding: 6px 0 0 0;
	margin-top: 0px;
}
footer.anchor {
	width: 100%;
	bottom: 0;
	position: absolute;
}
footer ul {
	margin: 0 0 0 0;
}
footer li {
	color: #1570a6;
	margin-left: 22px;
	list-style: none;
	display: inline;
}
footer ul li:first-child {
	margin-left: 0;
	margin-right: 478px;
}
footer a:hover {
	text-decoration: none;
}

/* Custom fields */
.custom-fields table tr{
	height: 40px;
	line-height: 40px;
}
.custom-fields table th{
	text-align: center;
	font-weight: bold;
	background: #00adef;
	color: #fff;
	border-right: 2px solid #e4e4e4;
}
.custom-fields table td{
	text-align: center;
}
.custom-fields > label{
	font-weight: bold !important;
}
#addCustomFieldsBtn{
	margin: 10px 0 15px;
	border: none;
	outline: none;
}
.custom-field-single {
	display: none;
}
#customField .modal-body{
	max-height: none !important;
}
div.remove {
	width: 16px;
	height: 16px;
	background: transparent url(../img/btn-remove.png) no-repeat center center;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.edit {
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.remove-gray {
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.removeUserRule{
	float: left !important;
	margin-top: 3px !important;
}
.main-content textarea{
	border: 1px solid #878787;
	-webkit-border-radius: 0;
	font-family: "Intel Clear Regular", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 0 0 15px 0;
	padding: 5px;
	height: inherit;
	width: 100%;
}
.chkLbl{
	width: auto !important;
}
.chk-radio > input{
	float: left;
	margin-right: 5px;
}
.chk-radio{
	margin-bottom: 7px !important;
}
.custom-title{
	margin-top: 10px;
}
#registerForm .remove{
	margin-top: -38px;
	margin-right: -20px;
}
#registerForm .remove-gray{
	margin-top: -38px;
	margin-right: -20px;
}
#registerForm .edit{
	margin-top: -38px;
	/*margin-right: -35px;*/
}
#registerForm .remove-ta{
	margin-top: 15px !important;	
}
#registerForm .edit-ta{
	margin-top: 15px !important;	
}
.register-fields div > label, .register-fields input[type=radio]{
	width: auto !important;
}
.register-fields input, .register-fields textarea, .register-fields select{
	width: 94% !important;
}
.submit-btn label{
	line-height: 50px;
	font-size: 20px !important;
	font-weight: bold !important;
	font-family: "Intel Clear Light", Helvetica, Arial, sans-serif !important;
}
.modal-placeholder > .modal-dialog {
    width:100% !important;
}
.modal {
	margin-left: -350px;
	width:675px;
}
.text-modal {
	width: 358px;
}
.modal-body {
	max-height: 540px;
}
.twitter-typeahead {
	display:inline !important;
}