body, html { height: 100%; }

.gray-selector { background: #ebebeb; }
.template-selector,
.template-type-selector {
	width: 418px;
	height: 112px;
	border: 4px solid #ebebeb;
	padding: 15px;
	cursor: pointer;
}
.template-selector.active,
.template-selector:hover,
.template-type-selector.active,
.template-type-selector:hover {
	border-color: #00aeef;
}
.template-selector h4,
.template-type-selector h4 {
	font-family:'IntelClearBold','helvetica',sans-serif;
	font-size: 17px;
	color: #333;
	margin-bottom: 2px;
}
.template-selector img { margin-left: 12px; }

.thumbnail-selector { border-bottom: 1px solid #ebebeb; }
#content-update .thumbnail-selector .accordion-heading {
	font-size: 14px;
	background-color: #fff;
	color: #464646;
}
#content-update .thumbnail-selector .accordion-heading .accordion-toggle,
.choose-images h3 {
	font-family: 'IntelClearBold', sans-serif;
	color: #464646;
	display: block;
	padding: 0px 0px 18px 0px;
}
#content-update .thumbnail-selector .accordion-heading .accordion-toggle { padding-top: 6px; }
#content-update .thumbnail-selector .accordion-heading.complete .accordion-toggle {
	color: #00aeef !important;
	background: #fff url(../img/bg-complete.png) no-repeat right 5px;
}

.choose-images h3 {
	font-size: 14px;
	font-weight: normal !important;
	border-bottom: 0;
	text-align: left !important;
}
#content-update .thumbnail-selector .accordion-heading .accordion-toggle span.normal {
	font-family: 'IntelClearRegular', sans-serif;
}
h3.blue-header {
	font-family:'IntelClearBold','helvetica',sans-serif;
	font-size: 18px;
	color: #00aeef;
	text-align: center;
}

.thumbnail-selector ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.preview.thumbnail-ul { display: none; }
.thumbnail-ul { width: 620px; }
.thumbnail-ul.thumbnail-oneup { width: 152px; }
.thumbnail-ul.thumbnail-twoup { width: 312px; }
.thumbnail-ul.thumbnail-fiveup { width: 778px; }

.thumbnail-selector li {
	float: left;
	margin-right: 8px;
	margin-bottom: 15px;
	text-align: center;
}
.thumbnail-selector li.last { margin-right: 0px !important; }
.thumbnail-selector li img {
	padding: 7px;
	background: #ebebeb;
	border: 4px solid #ebebeb;
	margin-bottom: 5px;
}
/*Template Engine*/
.thumbnail-block.thumbnail-selector li img {
	background: #b0b0b0;
	border: 4px solid #b0b0b0;
}
.thumbnail-selector li.active img,
.thumbnail-selector li.unselected img:hover,
.thumbnail-selector li img:hover {
	border-color: #00aeef;
	opacity: 1 !important;
}
.thumbnail-selector li.unselected img {
	border-color: #ebebeb;
	opacity: .5;
}

.thumbnail-selector.fourup { border-bottom: none; }
.thumbnail-selector.fourup .accordion-group { padding-top: 10px; border-bottom: 1px solid #ebebeb; }
.thumbnail-selector.fourup .accordion-group.first { padding-top: 0px; }
.thumbnail-selector.fourup li { margin-right: 12px; margin-bottom: 25px; }
.thumbnail-selector.fourup li img { padding: 15px 18px; }

.thumbnail-selector.fiveup { border-bottom: none; }
.thumbnail-selector.fiveup li { margin-right: 23px; margin-bottom: 15px; }
.thumbnail-selector.fiveup li img { padding: 0px; }

.thumbnail-selector.fourup.editing li { margin-right: 2px; margin-bottom: 15px; }
.thumbnail-selector.fourup.editing li img { padding: 0; width: 161px; height: auto; border-width: 2px; }

.thumbnail-selector.fiveup.editing li { margin-right: 2px; margin-bottom: 15px; }
.thumbnail-selector.fiveup.editing li img { padding: 0; width: 120px; height: 75px; border-width: 2px; }

/*Template Engine*/
.thumbnail-block { padding: 0 20px 20px 20px; border: 1px dashed #a1a1a1 !important; margin-bottom: 10px; clear: both; position: relative; }
.template-page .thumbnail-block { background: #f3f3f3; }
.thumbnail-block.preview { padding: 0 20px 0px 20px; border: 0 !important; margin-bottom: 0; }
.thumbnail-block h2 { font-family:'IntelClearBold',sans-serif; color: #00aeef; font-size: 18px; line-height: 20px; margin-bottom: 17px; margin-top: 14px; text-align: center; }
.thumbnail-block.preview h2 { display: none; }
.thumbnail-block p.clearfix { margin: 0; }
.thumbnail-block.thumbnail-selector.fourup li { margin-right: 4px; margin-bottom: 0px;width: 152px; height: 112px; }
.normal_copy_wrapper li { width: auto !important; height: auto !important; }
.thumbnail-block.thumbnail-selector.fourup li img { width: 120px; height: 75px; padding: 12px 12px; }

.image-selector img { width: 62px; height: 41px; margin-right: 3px; float: left; border: 2px solid #dcdcdc; }
.image-selector.preview { display: none; }
.image-selector a.active img, .image-selector img:hover { border: 2px solid #00aeef; }

.template-page .image-selector { /*width: 622px;*/ margin: 0 auto; }

.choose-images { padding-top: 20px; clear: both; }
.choose-images-block { background: #ebebeb; padding: 25px 25px 10px 25px; }

.choose-images.editing { padding-top: 5px; }
.editing .choose-images-block {
	padding: 15px 15px 1px 15px;
	margin-bottom: 20px;
}
.choose-images.editing h3 { padding-bottom: 5px; }

/*Template Engine*/
.topnav-templates { padding: 25px 0 30px; }
.template-type-links { color: #666; font-size: 18px; padding-top: 14px; }
.template-type-links a.active { color: #666 !important; }
.template-type-links a:hover { text-decoration: none; }
.full-width { padding: 0 !important; }
#tpl-sidebar {
	/*height: 1460px;*/
	background: #ebebeb;
	padding: 20px 20px 80px 20px;
	/*overflow: scroll;
	overflow-x: hidden;*/
}
#tpl-sidebar .input-wide { width: 95%; }
#tpl-sidebar .option-block { margin-top: 28px; }
#tpl-sidebar h1 { font-family:'IntelClearBold',sans-serif; color: #666; font-size: 18px; line-height: 20px; margin-top: 0; margin-bottom: 4px; }
#tpl-sidebar h2 { font-family:'IntelClearBold',sans-serif; color: #00aeef; font-size: 18px; line-height: 20px; margin-bottom: 10px; }
#tpl-sidebar label { font-size: 14px; color: #666; }

#tpl-sidebar.preview { display: none; }

#tpl-body {
	background: #dcdcdc;
	padding: 20px 20px 80px 20px;
	margin-left: 1.12766% !important;
	overflow: visible;
}
#tpl-body.span8 { width: 66.957447% !important; }
#tpl-body.span9 { width: 75.468085% !important; }
#tpl-body.fixed { position: fixed; top: 0; right: 0; }

#tpl-body .template-preview-select { font-family:'IntelClearBold',sans-serif; color: #00aeef; font-size: 18px; }
#tpl-body .template-preview-select select { margin-left: 10px; margin-bottom: 0; }

#tpl-body.preview { width: 100% !important; margin-left: 0 !important; }

/*
#tpl-sidebar,
#tpl-body {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.col-wrap{
	overflow: hidden;
}
*/

#template-previews {
	padding: 35px 0 35px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.template-email {
	width: 670px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.template-email td p { margin: 0; }
td.normal_copy_wrapper p { margin: 0 0 10px; }
td.normal_copy_wrapper ul {
	margin: 0 0 10px 30px;
	padding: 0;
	list-style: disc;
}
td.normal_copy_wrapper ul li {
	float: none;
	margin-right: 0;
	margin-bottom: 0;
	text-align: left;
}
.template-page {
	width: 940px;
	padding: 0 0px;
	margin: 0 auto;
}
.template-page.preview { width: 1000px; }

ul.large-menu {
	list-style: none;
	margin: 25px 0 0 0;
	padding: 0;
}
ul.large-menu li {
	font-family:'IntelClearBold',sans-serif;
	font-size: 15px;
	padding-bottom: 30px;
	color: #999;
}
ul.large-menu li small {
	font-family:'IntelClearRegular',sans-serif;
	font-size: 11px;
}
ul.large-menu li a,
ul.large-menu li a:visited {
	font-family:'IntelClearBold',sans-serif;
	color: #999;
	padding-right: 14px;
}
ul.large-menu li a:hover,
ul.large-menu li a.active {
	color: #333;
	text-decoration: none;
	background: transparent url(../img/bg-gray-triangle.png) right no-repeat;
}

.edita , .edit, .editw, .editd {
    cursor: pointer;
    list-style-type: none;
}
.tpl-link-editable { color: rgb(95, 95, 94);}

.editable-click, a.editable-click, a.editable-click:hover {
	text-decoration: none;
	border-bottom: none;
}
.asset-preview-email {
	/*overflow: hidden;*/
	width: 670px;
	margin-left: -21px;
	margin-top: -1px;
}
.asset-preview-page {
	/*overflow: hidden;*/
	width: 960px;
	margin-left: -31px;
	margin-top: -1px;
}
.asset-preview-page.preview {
	width: 960px;
	margin-left: 0;
	margin-top: 0;
}

.tpl-container { position: relative; }
.button-refresh, .button-active-hf {
	top: 0;
	right: -42px;
	position: absolute;
	/*z-index: 9999;*/
}
.button-move {
	top: 0;
	right: -42px;
	position: absolute;
}
.button-remove {
	top: 35px;
	right: -42px;
	position: absolute;
}
.template-page .button-move,
.template-page .button-remove {
	right: -32px;
}
.button-refresh.preview, .button-move.preview, .button-remove.preview, .upload-div.preview, .button-active-hf.preview { display: none; }
.preview-mode { width: 100%; margin: 14px auto 0; display: none; }
.preview-mode div { width: 100%; text-align: center; }
.preview-mode.preview { display: block; }

.button-mod-remove {
	width: 100px;
	font-family:'IntelClearBold',sans-serif;
	color: #9e0b0f;
	padding-bottom: 14px;
	cursor: pointer;
}
.button-mod-remove.preview { display: none; }
.fup-overlay {
	margin-top: -36px !important;
	color: #000;
	overflow: hidden;
	height: 30px;
	background: #fff;
	opacity: .6;
	padding-top: 3px !important;
	padding-right: 6px !important;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-wrap: break-word; 
    -ms-word-break: break-all;
}
.fup-overlay.preview { display: none; }
.section-note, .clone-section {
	font-size: 13px;
	color: #666;
	text-align: center;
	line-height: 18px;
	margin-top: -10px;
	margin-bottom: 17px;
	padding: 0 30px;
}
.section-note.preview, .tpl-rp-add-btn.preview, .duplicate-header-footer-btns.preview, #addCustomFieldsBtn.preview, .removeSocial.preview, .add-social-icon.preview { display: none; }

.image-box-module { cursor: pointer; }

/*.lt-ie9 .mce-panel { width: 100% !important; }*/
/*.lt-ie9 .image-box-custom, .lt-ie9 .image-box-module { z-index: 99999 !important; }*/

ul.horizontal-menu li { height: 20px !important; width: auto !important; }

.notification-recipients{
	padding: 10px 0 0 210px;
}

.input-medium-detail {
	width: 200px !important;
	display:inline !important;
}