/* Client-specific Styles & Reset */
* { font-size: 12px; }
#outlook a {
  padding:0;
}

.ExternalClass {
  width:100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  mso-line-height-rule: exactly;
  line-height: 100%;
}

body{
    width:100% !important;
    min-width: 100%;
  height: auto !important;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    margin:0;
    padding:0;
  background: #dcdcdc;
}

#backgroundTable {
  margin:0;
  padding:0;
  width:100% !important;
  mso-line-height-rule: exactly;
  line-height: 100% !important;
}

img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode: bicubic;
  /*width: auto;*/
  max-width: 100%;
  /*float: left; */
  /*clear: both;
  display: block;*/
}

center {
  width: 100%;
  /*min-width: 670px;*/ /*may need back to play nice with outlook*/
}

a img {
  border: none;
}

a {
  color: #00AEEF;
  text-decoration: none;
}

a:active {
  color: #00AEEF;
}

a:visited {
  color: #00AEEF;
}

p {
  margin: 0 0 0 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}

/* Responsive Grid */

table.body {
  height: 100%;
  width: 100%;
}

table.container {
  width: 670px;
  margin: 0 auto;
  text-align: inherit;
}
.row {
  margin-left: 0;
}
table.row {
  padding: 32px 32px 0 32px;
  width: 100%;
  position: relative;
}
table.row.no-padding {
  padding: 0;
  width: 100%;
  position: relative;
}

table.container table.row {
  display: block;
}

td.wrapper {
  padding: 0px 0px 0px 0px;
  position: relative;
}

table.columns,
table.column {
  margin: 0 auto;
}

table.columns td,
table.column td {
  padding: 0px 0px 0px;
}

table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 10px;
}

td.sub-column, td.sub-columns {
  min-width: 0px;
}

table.row td.last,
table.container td.last {
  padding-right: 0px;
}

table.one { width: 20px; }
table.two { width: 70px; }
table.three { width: 120px; }
table.four { width: 170px; }
table.five { width: 220px; }
table.six { width: 325px; }
table.seven { width: 420px; }
table.eight { width: 470px; }
table.nine { width: 520px; }
table.ten { width: 570px; }
table.eleven { width: 620px; }
table.twelve { width: 670px; }

table.one center { min-width: 20px; }
table.two center { min-width: 70px; }
table.three center { min-width: 120px; }
table.four center { min-width: 170px; }
table.five center { min-width: 220px; }
table.six center { min-width: 325px; }
table.seven center { min-width: 420px; }
table.eight center { min-width: 470px; }
table.nine center { min-width: 520px; }
table.ten center { min-width: 570px; }
table.eleven center { min-width: 620px; }
table.twelve center { min-width: 670px; }

table.one .panel center { min-width: 0px; }
table.two .panel center { min-width: 50px; }
table.three .panel center { min-width: 100px; }
table.four .panel center { min-width: 150px; }
table.five .panel center { min-width: 200px; }
table.six .panel center { min-width: 250px; }
table.seven .panel center { min-width: 400px; }
table.eight .panel center { min-width: 450px; }
table.nine .panel center { min-width: 500px; }
table.ten .panel center { min-width: 550px; }
table.eleven .panel center { min-width: 600px; }
table.twelve .panel center { min-width: 650px; }

.body .columns td.one,
.body .column td.one { width: 8.333333%; }
.body .columns td.two,
.body .column td.two { width: 16.666666%; }
.body .columns td.three,
.body .column td.three { width: 25%; }
.body .columns td.four,
.body .column td.four { width: 33.333333%; }
.body .columns td.five,
.body .column td.five { width: 41.666666%; }
.body .columns td.six,
.body .column td.six { width: 50%; }
.body .columns td.seven,
.body .column td.seven { width: 58.333333%; }
.body .columns td.eight,
.body .column td.eight { width: 66.666666%; }
.body .columns td.nine,
.body .column td.nine { width: 75%; }
.body .columns td.ten,
.body .column td.ten { width: 83.333333%; }
.body .columns td.eleven,
.body .column td.eleven { width: 91.666666%; }
.body .columns td.twelve,
.body .column td.twelve { width: 100%; }

td.offset-by-one { padding-left: 50px; }
td.offset-by-two { padding-left: 100px; }
td.offset-by-three { padding-left: 150px; }
td.offset-by-four { padding-left: 200px; }
td.offset-by-five { padding-left: 250px; }
td.offset-by-six { padding-left: 300px; }
td.offset-by-seven { padding-left: 350px; }
td.offset-by-eight { padding-left: 400px; }
td.offset-by-nine { padding-left: 450px; }
td.offset-by-ten { padding-left: 500px; }
td.offset-by-eleven { padding-left: 550px; }

td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}

table.columns .text-pad,
table.column .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: 10px;
}

table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: 10px;
}

/* Block Grid */

.block-grid {
  width: 100%;
  max-width: 670px;
}

.block-grid td {
  display: inline-block;
  padding:10px;
}

.two-up td {
  width:270px;
}

.three-up td {
  width:173px;
}

.four-up td {
  width:125px;
}

.five-up td {
  width:96px;
}

.six-up td {
  width:76px;
}

.seven-up td {
  width:62px;
}

.eight-up td {
  width:52px;
}

/* Alignment & Visibility Classes */

table.center, td.center {
  text-align: center;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
}

img.center {
  margin: 0 auto;
  float: none;
}

.show-for-small,
.hide-for-desktop {
  display: none;
}

/* Typography */

body, table.body, h1, h2, h3, h4, h5, h6, p, td, li, a {
  color: #5F5F5E;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  word-break: normal;
}

h1 { font-weight:normal; font-size: 24px;}
h2 { font-weight:normal; font-size: 18px;}
h3 { font-weight:500; font-size: 16px;}
h4 { font-weight:600; font-size: 14px;}
h5 { font-weight:600; font-size: 12px;}
h6 { font-weight:600; font-size: 12px; color:#5F5F5E;}
body, table.body, p, td {font-size: 12px;mso-line-height-rule: exactly;line-height:1.7em;}

p {
  margin-bottom: 10px;
}

small {
  font-size: 10px;
}

/* Panels */

.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important;
}

.sub-grid table {
  width: 100%;
}

.sub-grid td.sub-columns {
  padding-bottom: 0;
}

/* Buttons */

table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  overflow: hidden;
  margin-top: 6px;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  /*display: block;*/
  width: auto !important;
  text-align: left;
  background: #fdb813;
  color: #ffffff;
  padding: 8px 0;
}

table.medium-button td img {
  float: none;
}

.white-arrow {
  padding-left: 30px;
  float: none;
}

table.tiny-button td {
  padding: 5px 0 4px;
}

table.small-button td {
  padding: 8px 0 7px;
}

table.medium-button td {
  line-height: 100% !important;
  padding: 18px 20px 15px 20px;
}

td.button-text {
  padding:4px 20px 0 0 !important;
}
td.button-image {
  padding:0 !important;
  text-align: right;
}

table.large-button td {
  padding: 21px 0 18px;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: normal;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

table.small-button td a {
  font-size: 16px;
}

table.medium-button td a {
  font-size: 20px;
}

table.large-button td a {
  font-size: 24px;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #fdb813 !important;
}

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important;
}

table.secondary td {
  background: #e9e9e9;
  border-color: #d0d0d0;
  color: #555;
}

table.secondary td a {
  color: #555;
}

table.secondary:hover td {
  background: #d0d0d0 !important;
  color: #555;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #555 !important;
}

table.success td {
  background: #5da423;
  border-color: #457a1a;
}

table.success:hover td {
  background: #457a1a !important;
}

table.alert td {
  background: #c60f13;
  border-color: #970b0e;
}

table.alert:hover td {
  background: #970b0e !important;
}

table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* Outlook First */

body.outlook p {
  display: inline !important;
}

/*  Media Queries */

@media only screen and (max-width: 670px) {

  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }

  table[class="body"] center {
    min-width: 0 !important;
  }

  table[class="body"] .container {
    width: 95% !important;
  }

  table[class="body"] .row {
    width: 100% !important;
    display: block !important;
  }

  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important;
  }

  table[class="body"] .columns,
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important;
  }

  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }

  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100% !important;
  }

  table[class="body"] .columns td.one,
  table[class="body"] .column td.one { width: 8.333333% !important; }
  table[class="body"] .columns td.two,
  table[class="body"] .column td.two { width: 16.666666% !important; }
  table[class="body"] .columns td.three,
  table[class="body"] .column td.three { width: 25% !important; }
  table[class="body"] .columns td.four,
  table[class="body"] .column td.four { width: 33.333333% !important; }
  table[class="body"] .columns td.five,
  table[class="body"] .column td.five { width: 41.666666% !important; }
  table[class="body"] .columns td.six,
  table[class="body"] .column td.six { width: 50% !important; }
  table[class="body"] .columns td.seven,
  table[class="body"] .column td.seven { width: 58.333333% !important; }
  table[class="body"] .columns td.eight,
  table[class="body"] .column td.eight { width: 66.666666% !important; }
  table[class="body"] .columns td.nine,
  table[class="body"] .column td.nine { width: 75% !important; }
  table[class="body"] .columns td.ten,
  table[class="body"] .column td.ten { width: 83.333333% !important; }
  table[class="body"] .columns td.eleven,
  table[class="body"] .column td.eleven { width: 91.666666% !important; }
  table[class="body"] .columns td.twelve,
  table[class="body"] .column td.twelve { width: 100% !important; }

  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }

  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }

  table[class="body"] .right-text-pad,
  table[class="body"] .text-pad-right {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad,
  table[class="body"] .text-pad-left {
    padding-right: 10px !important;
  }

  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }

  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}


table.facebook td {
  background: #3b5998;
  border-color: #2d4473;
}

table.facebook:hover td {
  background: #2d4473 !important;
}

table.twitter td {
  background: #00acee;
  border-color: #0087bb;
}

table.twitter:hover td {
  background: #0087bb !important;
}

table.google-plus td {
  background-color: #DB4A39;
  border-color: #CC0000;
}

table.google-plus:hover td {
  background: #CC0000 !important;
}

.template-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
}

.callout .panel {
  background: #ECF8FF;
  border-color: #b9e5ff;
}

.header {
  background: #999999;
}

.footer .wrapper {
  background: #ebebeb;
}

.footer h5 {
  padding-bottom: 10px;
}

table.columns .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

table.columns .left-text-pad {
  padding-left: 10px;
}

table.columns .right-text-pad {
  padding-right: 10px;
}

@media only screen and (max-width: 670px) {

  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }
}



/* Intel */
.image-fix {
  display:block;
}
hr {
  border: 0;
  width: 100%;
  color: #cccccc;
  background-color: #cccccc;
  height: 1px;
}
.blue {
  color: #0071C5;
}
/*
.btn {
  font-size: 20px;
  text-decoration:none;
  color: #FFFFFF;
  background-color: #fdb813;
  padding: 18px 22px !important;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-top: 6px;
}
*/
p.callout {
  padding:15px;
  background-color:#ECF8FF;
  margin-bottom: 15px;
}
.callout a {
  font-weight:bold;
  color: #ffffff;
}
table.spaced {
  width: 670px;
  height: 10px;
  background-color: #dcdcdc;
  display: block;
  clear: both;
}
.spaced {
  width: 670px;
  height: 10px;
  background-color: #dcdcdc;
  font-size: 1px;
  line-height: 1px;
}
.no-padding {
  padding: 0 !important;
}

/* -------------------------------------
    HEADER
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* -------------------------------------
    BODY
------------------------------------- */
table.body-wrap { width: 100%;}


/* -------------------------------------
    FOOTER
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important;
}
.footer-wrap .container td.content p { padding-top:15px;}
.footer-wrap .container td.content p {
  font-size:10px;
  font-weight: bold;

}


/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif; mso-line-height-rule: exactly; line-height: 1.0; margin-bottom:10px; color:#0071C5; word-break: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #0071C5;
}
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #0071C5;
}
h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #0071C5;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #0071C5; mso-line-height-rule: exactly; line-height: 0; text-transform: none; }

.collapse { margin:0!important;}

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size:12px;
  mso-line-height-rule: exactly;
  line-height:1.7em;
  color: #5F5F5E;
}
p.lead { font-size:18px;font-weight: 600; }
p.last { margin-bottom:0px;}
p.extra-padding { margin-bottom: 26px; }

ul li {
  margin-left:5px;
  list-style-position: inside;
}
/* Odds and ends */
.column {
  width: 335px;
  float:left;
}
.column-3 {
  width: 33%;
}
.column tr td { padding: 40px 30px 30px 30px; }
.column-wrap {
  padding:0 !important;
  margin:0 auto;
  max-width:670px !important;
}
.column table,
.column-3 table { width:100%;}
.social .column {
  width: 280px;
  min-width: 279px;
  float:left;
}
.header-table,
.sidebar-table,
.footer-table {
  background-color: #0071c5;
}
.footer-table hr {
  color: #ffffff;
  background-color: #ffffff;
}
td.header-text-td,
.column tr td.header-text-td {
  padding:25px;
}
.header-text-td p {
  color: #ffffff;
  font-weight: 600;
}
.header-text-td h1 {
  color: #ffffff;
  margin-top: 25px;
  padding-top: 0;
  display: block;
  clear: both;
}
.header-text-td h2 {
  color: #ffffff;
}
.header-text-td h3 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
}
.header-text-td a {
    color: #ffda00;
}
.header-text-td h1 a,
.header-text-td h2 a,
.header-text-td h3 a,
.header-text-td a.btn {
  color: #ffffff;
}
td.btn a {
  font-size: 20px !important;
  text-decoration:none;
  color: #FFFFFF;
  font-weight:normal !important;
}
td.header-image,
td.sidebar-td {
  padding: 0 !important;
}
td.sidebar-td h1,
td.sidebar-td h2,
td.sidebar-td h3,
td.sidebar-td h4,
td.sidebar-td h5,
td.sidebar-td p,
td.sidebar-td a {
  color: #ffffff;
}
.content-td {
  padding: 32px;
}
table.content-title-icon {
  width: 100%;
  margin-bottom: 12px;
}
td.title-icon {
  width: 38px;
  height: 28px;
}
td.title-icon img {
  width: 26px;
  height: 26px;
}
td.title-text {
  padding-top: 2px;
}
td.title-text h2 {
  font-weight: normal;
  font-size: 24px;
}
td.title-cta,
p.title-cta {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
td.title-cta a,
p.title-cta a {
  font-weight: 600;
  color: #00AEEF;
}
table.col2 {
  width: 49% !important;
}
table.col3 {
  width: 180px !important;
  margin-right: 32px;
}
td.col3 {
  width: 180px !important;
  padding-right: 32px;
}
td.content-col2-left {
  padding-right: 16px !important;
}
td.content-col2-right {
  padding-left: 16px !important;
}
.caption {
  font-size: 10px;
  font-style: italic;
  color: #004280;
}
.copyright {
  font-size: 10px;
  padding-top: 28px;
  color: #ffffff;
}
.copyright a {
  font-size: 10px;
  color: #ffffff;
}
p.social {
  margin-bottom: 32px;
}
img.social-icon {
  width: 16px;
  height: 16px;
  /*padding-right: 10px;*/
}
.anchor-links-td,
.anchor-links-h2 {
  text-align:right;
}
p.anchor-links {
  font-size: 16px;
  mso-line-height-rule: exactly;
  line-height: 170%;
  text-align: right;
  margin-bottom: 0;
}
p.anchor-links a {
  font-size: 16px;
}


.anchor-links-white-td,
.anchor-links-white-h2 {
  text-align:left;
}
p.anchor-links-white {
  font-size: 14px;
  mso-line-height-rule: exactly;
  line-height: 200%;
  text-align: left;
  margin-bottom: 0;
  color: #ffda00;
}
p.anchor-links-white a {
  font-size: 14px;
  color: #ffffff;
}

.show-me {
  display: none;
  font-size: 0;
  max-height: 0;
  line-height: 0;
  mso-hide: all;
}
img.show-me {
  max-height: 0;
  width: 0;
}
p.read-more-link {
  font-weight: 600;
  color: #00AEEF;
  text-align: right;
  margin-bottom: 0;
}
p.read-more-link a,
p.read-more-link a:visited,
p.read-more-link a:active {
  font-weight: 600;
  color: #00AEEF;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }

.editable-click, a.editable-click, a.editable-click:hover {
text-decoration: none;
border-bottom: none;
}
