
    <!-- Table Background -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #dcdcdc; border-collapse: collapse;" align="center">
        <tbody>
            <tr>
                <td width="100%" valign="top">

                    <!-- Table Container -->
                    <table width="670" class="devicewidth" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse: collapse;" bgcolor="#FFFFFF">
                        <tbody>
                             <tr>
                                <td valign="top" class="container">

                                    <!-- Headline & Subhead -->
                                   <table border="0" cellpadding="0" cellspacing="0" class="container" align="center" style="font-size: 12px; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal;  padding: 0;">
                                <tr>
                                    <!-- Container -->
                                    <td align="center" valign="top" class="header container" style="width: 670px; font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 0;">

                                        <table border="0" cellpadding="0" cellspacing="0" class="header container" style="width: 670px; font-size: 12px;  border-collapse: collapse; padding: 0;" align="center">
                                            <tr>
                                                <td class="container" bgcolor="#0071c5" style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 0;" align="left" valign="top">
                                                    <table class="container" style="font-size: 12px; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0;">
                                                        <tr>
                                                            <td class="header-wrapper" style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 0px;" align="left" valign="top">
                                                                <!-- Header Text -->
                                                                <table border="0" cellpadding="0" cellspacing="0" class="header-wrapper" style="width: 520px; font-size: 12px; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background-color: #0071c5; margin: 0 auto; padding: 0;" bgcolor="#0071c5">

                                                                    <tr>
                                                                        <td class="header-wrapper padding" style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 0px 90px 0px 25px;height:155px;" align="left" valign="top">

                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                <tr class="show-logo-tr" height="60" style="line-height:60px; font-size:60px">
                                                                                    <td class="show-logo" height="60" style="line-height:60px; font-size:50px">&nbsp;

                                                                                    </td>
                                                                                </tr>
                                                                                <tr style="font-size: 30px; line-height: 32px">
                                                                                    <td class="mobile-header no-padding" style="font-size: 30px; line-height: 32px; color: #ffffff; font-family: Arial, Helvetica, 'Lucida Grande', sans-serif; font-weight: normal; text-align: left; word-break: normal; display: block; clear: both; padding: 12px 0 10px 0px;" align="left">Lorum ispsum dolor amedfa lorum ipsum.</td>
                                                                                </tr>

                                                                                <tr style="line-height: 19px; font-size: 18px; color: #ffffff; font-family: Arial, Helvetica, sans-serif;">
                                                                                    <td class="mobile-header subhead" style="font-size: 18px; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: Normal; text-align: left; line-height: 18px; padding: 15px 0px 0px 0px;" align="left" valign="top">Issue, Month

                                                                                    </td>

                                                                                </tr>


                                                                            </table>


                                                                        </td>

                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <!-- /wrapper -->
                                                            <td class="hide" style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 0px;" align="left" valign="top">
                                                                <!-- Image -->
                                                                <table border="0" cellpadding="0" cellspacing="0" class="columns header-table" style="width: 150px; font-size: 12px; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background-color: #0071c5; margin: 0 auto; padding: 0;" bgcolor="#0071c5">
                                                                    <!-- Intel Logo -->
                                                                    <tr>
                                                                        <td class="header-text-td" style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 27px; margin: 0; padding: 20px 25px 35px 25px;" align="left" valign="top">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;">
                                                                                <tr>
                                                                                    <td style="font-size: 12px; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; height:50px; margin: 0; padding: 0px;" align="left" valign="top">
                                                                                        <img src="http://img03.en25.com/EloquaImages/clients/IntelSandbox2013/{544b5a0b-edb2-4c65-8b35-0954de999446}_logo-wht-79x50.png" alt="Intel" align="right" class="image-fix hide" style="font-size: 12px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; display: block;">
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="header-image" valign="bottom" style="vertical-align: bottom !important; height: 85px; line-height: 85px; font-size: 12px; border-collapse: collapse !important; text-align: left; color: #5F5F5E; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; padding: 30px 0px 0px 0px;" align="left">
                                                                            <img src="http://img03.en25.com/EloquaImages/clients/IntelSandbox2013/{42f52c6d-4813-41c7-8257-b92216f02fcc}_tear-away-98x85.png" align="right" class="image-fix" style="font-size: 12px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; display: block;">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <!-- /wrapper -->
                                                        </tr>
                                                    </table>
                                                    <!-- /row -->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!-- /Container -->
                                </tr></table>
                                    <!-- End Headline & Subhead -->
</td></tr>
                            <tr>
                                <td valign="top" class="container">

                                    <!-- Begin Module -->
                                    <table class="module" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF; border-collapse: collapse;" align="center">
                                        <tbody>

                                            <tr>
                                                <td valign="top" class="container">

                                                    <!-- Begin Main Module Column -->
                                                    <table class="content-column" align="left" width="429" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF; border-collapse: collapse;">
                                                        <tbody>
                                                              <!--[if !mso]><!-->

                                                                                    <tr class="hide-element" style="display: none; width: 0; max-height: 0; overflow: hidden;">
                                                                                        <td class="hide-element header" style="display: none; width: 0; max-height: 0; overflow: hidden; color: #dcdcdc; background-color#dcdcdc;" class="sidebar-header-container">
                                                                                          <table cellspacing="0" cellpadding="0" border="0" width="0" class="sidebar-header-container">
                                                                                              <tr>
                                                                                                  <td valign="top" style="font-family:Arial, Helvetica, sans-serif;  text-align:left;background-color:#dcdcdc" class="sidebar-header-td">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#DDECF7;" width="0" class="sidebar-header-container">
        <tr>
        <td class="sidebar-header-icon" valign="top" style="height:0px;width:0px;" align="left">
           </td>
        <td class="sidebar-header-text hiden-area" valign="top" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;padding:0px 0px 0px 0px;text-align:left;mso-hide:all;" align="left" valign="center">In this issue
        </td>
        </tr>
</table>
                                                             </td></tr>
                                                                                            </table>
                                                                                        </td>


                                                                                    </tr>

                                                                                    <!--<![endif]-->

                                                                     <!--[if !mso]><!-->

                                                                                    <tr class="hide-element" style="display: none; width: 0; max-height: 0; overflow: hidden;">
                                                                                        <td class="nav-hide-element" style="display: none; width: 0; max-height: 0; overflow: hidden; color: #FFFFFF; background-color#FFFFFF;">
                           <table cellspacing="0" cellpadding="0" border="0" width="0" class="nav-container">
                      <tr><td valign="top" class="nav-text" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px; text-align:left;background-color:#0071C5;width:0;mso-hide:all;">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#0071C5;" width="0" class="nav-container">
        <tr>
        <td class="underline first" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;color:#FFFFFF;padding:0px 0px 0px 0px;width:0" align="left">
            <a href="#hottopic" style="text-decoration:none;color:#FFFFFF;">
            Hot Topic Article &gt;</a></td>
            </tr>
          <tr>
        <td class="underline" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;color:#FFFFFF;padding:0px 0px 0px 0px;width:0" align="left">
              <a href="#featuredcontent" style="text-decoration:none;color:#FFFFFF;">
            Featured Content 1 &gt;</a></td>
            </tr>
          <tr>
        <td class="underline" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;color:#FFFFFF;padding:0px 0px 0px 0px;width:0" align="left">
              <a href="#editorialarticle" style="text-decoration:none;color:#FFFFFF;">
            Editorial Article &gt;</a></td>
            </tr>  <tr>
        <td class="underline" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;color:#FFFFFF;padding:0px 0px 0px 0px;width:0" align="left">
              <a href="#helparticle" style="text-decoration:none;color:#FFFFFF;">
           Help Article &gt;</a></td>
            </tr>
         <tr>
        <td class="underline last" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:0px; line-height:0px;color:#FFFFFF;padding:0px 0px 0px 0px;width:0" align="left">
              <a href="#blog" style="text-decoration:none;color:#FFFFFF;">
            Blog &gt;</a></td>
            </tr>
                          </table></td></tr>
                                                                                            </table>
                                                                                        </td>


                                                                                    </tr>

                                                                                    <!--<![endif]-->

                                                               <tr> <td valign="top" class="content-item" style="color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding-top: 35px; padding-bottom: 30px; padding-left: 25px; padding-right: 25px; text-align:left;width:100%;">
                                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                        <!--Content Block-->
                                                                         <tr>
                                                                            <td style="border-bottom:1px #cccccc solid;">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                    <tr>
                                                                                        <td class="module-header" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;padding:0px 0px 25px 0px;"><a name="hottopic" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px;text-decoration:none ">Hot topic lorump ispsum dolor amed lorum ipsum fateed</a>.</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding:0px 0px 25px 0px;width:379px;height:160px;" class="hero-img no-padding">
                                                                                            <img src="http://preview.ozoneonline.com/creative/INT_v22/images/p2010intel25.jpg" class="hero-fluid-img" alt="" style="display:block;border:0px;width:379px;height:160px;">
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="module-content" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;padding:0px 0px 25px 0px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 30px 0px;font-weight:bold">
                                                                                            <table class="mobile-cta-container" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                        <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!--END CONTENT BLOCK-->

                                                                        <!--Content Block-->
                                                                        <tr>
                                                                            <td style="border-bottom:1px #cccccc solid; padding:25px 0px 0px 0px;">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                    <tr>
                                                                                        <td class="module-header" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;padding:0px 0px 20px 0px;"><a name="featuredcontent" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;;text-decoration:none;">Featured Content w/photo</a></td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td class="hide" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 20px 0px;">Featured Content Article Subhead</td>
                                                                                    </tr>
                                                                                    <!--[if !mso]><!-->

                                                                                    <tr class="hide-element" style="display: none; width: 0; max-height: 0; overflow: hidden;">
                                                                                        <td class="hide-element" style="display: none; width: 0; max-height: 0; overflow: hidden;color: #FFFFFF; background-color#FFFFFF;">
                                                                                            <img src="http://preview.ozoneonline.com/creative/INT_v22/images/1.png" style="display:block;border:0px;width:0px; height:0px;" class="module-img" alt="">
                                                                                        </td>


                                                                                    </tr>

                                                                                    <!--<![endif]-->

                                                                                    <tr>
                                                                                        <td class="module-content" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px;padding:0px 0px 25px 0px;height:116px" valign="top">
                                                                                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                                <tr>
                                                                                                    <td class="module-content block" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;" valign="top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</td>
                                                                                                    <td class="hide" style="padding:0px 0px 0px 5px; width:152px; height:116px;" valign="top">
                                                                                                        <img src="http://preview.ozoneonline.com/creative/INT_v22/images/1.png" style="display:block;border:0px;width:152px; height:116px;">
                                                                                                    </td>
                                                                                                </tr>

                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 30px 0px;font-weight:bold">
                                                                                            <table class="mobile-cta-container" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                        <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!--END CONTENT BLOCK-->

                                                                        <!--Content Block-->
                                                                        <tr>
                                                                            <td style="border-bottom:1px #cccccc solid; padding:25px 0px 0px 0px;">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                    <tr>
                                                                                        <td class="module-header" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;padding:0px 0px 20px 0px;" colspan="2"><a name="editorialarticle" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;text-decoration:none;">Editorial Article / 2 column</a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                    </tr>


                                                                                    <tr>
                                                                                        <td class="block no-padding" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px;padding:0px 0px 30px 0px;" valign="top">
                                                                                            <table class="block no-padding" cellspacing="0" cellpadding="0" border="0">
                                                                                                <tr>
                                                                                                    <td class="block no-padding" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 25px 0px 0px;">
                                                                                                        <table class="one-column" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width:170px">
                                                                                                            <tr>
                                                                                                                <td class="mobile-subhead right-padding" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 20px 0px;" valign="top">Featured Content Article Subhead Subhead</td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="block" style="width:150px; height:110px;" valign="top">
                                                                                                                    <img src="http://preview.ozoneonline.com/creative/INT_v22/images/4.jpg" style="display:block;border:0px;width:150px; height:110px;" alt="">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="module-content block" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;padding:15px 0px 20px 0px;" valign="top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 0px 0px;font-weight:bold">
                                                                                                                    <table class="mobile-cta-container" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                                        <tr>
                                                                                                                            <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                                                <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>



                                                                                                        </table>
                                                                                                    </td>
                                                                                                    <td class="block" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px;padding:0px 0px 0px 0px;" valign="top">
                                                                                                        <table class="one-column" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width:180px;">
                                                                                                            <tr>
                                                                                                                <td class="mobile-subhead right-padding" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 20px 0px;" valign="top">Featured Content Article Subhead Subhead</td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="block" style="width:150px; height:110px;" valign="top">
                                                                                                                    <img src="http://preview.ozoneonline.com/creative/INT_v22/images/2.png" style="display:block;border:0px;width:150px; height:110px;" alt="">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="module-content block" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;padding:15px 0px 20px 0px" valign="top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 0px 0px;font-weight:bold">
                                                                                                                    <table class="mobile-cta-container" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                                        <tr>
                                                                                                                            <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                                                <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>



                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>

                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!--END CONTENT BLOCK-->
                                                                         <!--Content Block-->
                                                                        <tr>
                                                                            <td style="border-bottom:1px #cccccc solid; padding:25px 0px 0px 0px;">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                    <tr>
                                                                                        <td class="module-header" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;padding:0px 0px 25px 0px;"><a name="helparticle" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;text-decoration:none;">Help Article / 1 column</a>
</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding:0px 0px 10px 0px;font-family:Arial, Helvetica, sans-serif;font-size:14px; line-height:17px;color:#007DC6" class="mobile-subhead">Featured Content Article Subhead

                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="module-content" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;padding:0px 0px 25px 0px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 30px 0px;font-weight:bold">
                                                                                            <table class="mobile-cta-container" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                        <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!--END CONTENT BLOCK-->

                                                                        <!--Content Block-->
                                                                        <tr>
                                                                            <td class="no-border" style="border-bottom:0px; padding:25px 0px 0px 0px;">
                                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                    <tr>
                                                                                        <td class="module-header" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;padding:0px 0px 20px 0px;"><a name="blog" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:28px;text-decoration:none;">Blog</a></td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td class="mobile-subhead" style="color:#007DC6; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 20px 0px;">Featured Content Article Subhead</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="module-content" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px;padding:0px 0px 25px 0px;height:116px" valign="top">
                                                                                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                                <tr>
                                                                                                <td class="block padding-bottom" style="padding:0px 5px 0px 0px; width:178px; height:108px;" valign="top">
                                                                                                        <img src="http://preview.ozoneonline.com/creative/INT_v22/images/screen%20shot%202014-03-12%20at%2030522%20pm.jpg" alt="" style="display:block;border:0px;width:178px; height:108px;">
                                                                                                    </td>
                                                                                                    <td class="module-content block" style="color:#5F5F5E; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px;" valign="top">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</td>

                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 0px 0px;font-weight:bold">
                                                                                            <table class="mobile-cta-container last" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                        <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Read More<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <!--END CONTENT BLOCK-->

                                                                    </table>

                                                                </td>



                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Main Module Column -->
                                                    </td>
                                                 <td valign="top" class="block" align="right" style="width:100%">
                                                    <!-- Begin Right Column -->
                                                    <table class="sidebar" align="right" width="240" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF ; border-collapse: collapse;">
                                                        <tr><td style="width:100%">
                                                            <table border="0" cellspacing="0" cellpadding="0" class="content-column" width="100%" style="background-color: #FFFFFF ; border-collapse: collapse;">
                                                         <tr><td class="hide" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding-top: 35px;  text-align:left;background-color:#FFFFFF">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#DDECF7;" width="100%">
        <tr>
        <td valign="top" style="padding:12px 12px 10px 12px;height:58px;width:58px;" align="left">
            <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{4266c620-d37a-427e-9415-f83875cda7c6}_2d_diecon_brain_intblue_rgb58x58.png" style="display:block;border:0px;height:58px;width:58px;" alt=""></td>
        <td valign="center" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:22px; line-height:27px;padding:15px 0px 0px 0px;text-align:left;" align="left">In this issue
        </td>
        </tr>
</table>
                                                             </td></tr>

                      <tr><td class="hide" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding-top:30px;padding-bottom:30px;  text-align:left;background-color:#0071C5">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#0071C5;" class="block">
        <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;padding:0px 0px 0px 19px;" align="left"><a href="#hottopic" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;text-decoration:none;">Hot Topic Article <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#ffda00;">&gt;</span></a> </td>
            </tr>
       <tr>
        <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;padding:0px 0px 0px 19px;" align="left"><a href="#featuredcontent" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;text-decoration:none;">Featured Content 1 <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#ffda00;">&gt;</span></a> </td></tr>
            <tr><td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;padding:0px 0px 0px 19px;" align="left"><a href="#editorialarticle" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;text-decoration:none;">Editorial Article <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#ffda00;">&gt;</span></a> </td></tr>
             <tr><td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;padding:0px 0px 0px 19px;" align="left"><a href="#helparticle" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;text-decoration:none;">Help Article <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#ffda00;">&gt;</span></a> </td></tr>
             <tr><td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;padding:0px 0px 0px 19px;" align="left"><a href="#blog" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:30px;color:#FFFFFF;text-decoration:none;">Blog <span style="font-family:Arial, Helvetica, sans-serif; font-size:15px;color:#ffda00;">&gt;</span></a> </td></tr>
                          </table></td></tr><!--ENd MOBILE Section-->                              <!--Spacer-->
                                                                <tr class="hide" height="6" style="height:6px; font-size:6px;line-height:6px;"><td class="hide" style="height:6px; font-size:6px;line-height:6px;">&nbsp;</td></tr>

                                            <tr><td class="sidebar-wrapper" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding:25px 25px 30px 15px;  text-align:left;background-color:#F3F3F3 ">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#F3F3F3;width:100%"><tr>
       <td valign="top" style="padding:0px 0px 0px 0px;" align="left">
            <table border="0" cellspacing="0" cellpadding="0" style="background-color:#F3F3F3;width:100%">
                <tr>
                <td style="height:26px;width:26px;padding:0px 12px 0px 0px;">
                <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{2a84c033-990e-4c79-a292-2759d3abe499}_intel_icons_b_locationorg_grid.png" style="display:block;border:0px;height:26px;width:26px;" alt=""></td>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:26px;color:#0071C5;padding-top:2px;" align="left" valign="center">Events</td>
                </tr>
           </table>
          </td>
       </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif;color:#0071C5;padding:20px 0px 20px 0px;"><table><tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;padding:0px 0px 0px 0px;font-weight:bold" valign="top">Event Name Here Event</td></tr><tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;font-weight:bold;">Name Event Name</td></tr>
       <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Jan 30-Fed 2</td></tr>
         <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Location</td></tr>
              <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Location</td>
              </tr>  </table></td>
       </tr>
        <!--CTA-->
        <tr><td style="padding:0px 0px 25px 0px;">   <table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; overflow: hidden; padding: 0px 0px 0px 0px;">
                                                                                            <tr>
                                                                                                <td style="font-size: 16px; vertical-align: top; text-align: left; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 21px; background-color: #fdb813;  padding: 10px 0px 12px 12px;" align="left" bgcolor="#fdb813" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #fdb813;">                                                                                   <tr>
                                                                                           <td style="background-color: #fdb813; color: #ffffff; font-weight: normal; font-family: arial, helvetica, sans-serif; font-size: 16px; line-height:21px; padding-right: 35px;text-align: left;" valign="top"><a href="#" style="color: #ffffff; text-decoration: none;" valign="top">Register Today </a>  </td>
                                                                                               <td width="12" align="left" style="font-size: 21px; line-height:21px;padding-right:15px;">      <a href="#" style="font-size: 21px; line-height:21px;">
                                                                                                                    <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{cb35bb71-339d-4aa9-8593-502f7cc4f922}_white_arrow.png" style="display: block;" width="12" height="21" border="0" alt="">
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
            </td></tr> <tr>
            <td style="font-family:Arial, Helvetica, sans-serif;color:#0071C5;padding:0px 0px 20px 0px;"><table><tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;padding:0px 0px 0px 0px;font-weight:bold;" valign="top">Event Name Here Event</td></tr><tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;font-weight:bold;">Name Event Name</td></tr>
       <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Jan 30-Fed 2</td></tr>
         <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Location</td></tr>
              <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Location</td>
              </tr>  </table></td>
       </tr>
        <!--CTA-->
        <tr><td style="padding:0px 0px 0px 0px;">   <table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; overflow: hidden; padding: 0px 0px 0px 0px;">
                                                                                            <tr>
                                                                                                <td style="font-size: 16px; vertical-align: top; text-align: left; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 20px; background-color: #fdb813;  padding: 9px 0px 12px 12px;" align="left" bgcolor="#fdb813" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #fdb813;">                                                                                   <tr>
                                                                                           <td style="background-color: #fdb813; color: #ffffff; font-weight: normal; font-family: arial, helvetica, sans-serif; font-size: 16px; line-height:21px; padding-right: 35px;text-align: left;"><a href="#" style="color: #ffffff; text-decoration: none;" valign="top">Register Today </a>  </td>
                                                                                               <td width="12" align="left" style="font-size: 21px; line-height:21px;padding-right:15px;">      <a href="#" style="font-size: 21px; line-height:21px;"><img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{cb35bb71-339d-4aa9-8593-502f7cc4f922}_white_arrow.png" style="display: block;" width="12" height="21" border="0" alt="">
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
            </td></tr>

                          </table></td></tr><!--ENd MOBILE Section-->
                                                         <!--Spacer-->
                                                                <tr class="spacer" height="6" style="height:6px; font-size:6px;line-height:6px;background-color:#FFFFFF"><td class="spacer" style="height:6px; font-size:6px;line-height:6px;background-color:#FFFFFF">&nbsp;</td></tr>

                                            <tr><td class="sidebar-wrapper" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding:25px 25px 30px 15px;  text-align:left;background-color:#F3F3F3 ">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#F3F3F3;width:100%"><tr>
       <td valign="top" style="padding:0px 0px 0px 0px;" align="left">
            <table border="0" cellspacing="0" cellpadding="0" style="background-color:#F3F3F3;width:100%">
                <tr>
                <td style="height:26px;width:26px;padding:0px 12px 0px 0px;">
                <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{8cdbf1a2-f67a-4290-8374-7af61572f722}_intel_icons_b_usersnetworks_internet.png" style="display:block;border:0px;height:26px;width:26px;" alt=""></td>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:26px;color:#0071C5;padding-top:1px;" align="left" valign="center">Webinars</td>
                </tr>
           </table>
          </td>
       </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif;color:#0071C5;padding:20px 0px 20px 0px;"><table><tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;padding:0px 0px 0px 0px;font-weight:bold;" valign="top">Webinar name name</td></tr><tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;font-weight:bold;">name name name</td></tr>
       <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Jan 30-Fed 2 PST</td></tr>
        </table></td>
       </tr>
        <!--CTA-->
        <tr><td style="padding:0px 0px 0px 0px;">   <table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; overflow: hidden; padding: 0px 0px 0px 0px;">
                                                                                            <tr>
                                                                                                <td style="font-size: 16px; vertical-align: top; text-align: left; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 20px; background-color: #A6CE39 ;  padding: 9px 0px 12px 12px;" align="left" bgcolor="#A6CE39" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #A6CE39 ;">  <tr>
                                                                                           <td style="background-color: #A6CE39 ; color: #ffffff; font-weight: normal; font-family: arial, helvetica, sans-serif; font-size: 16px; line-height:21px; padding-right: 35px;text-align: left;"><a href="#" style="color: #ffffff; text-decoration: none;" valign="top">Register Today </a>  </td><td width="12" align="left" style="font-size: 21px; line-height:21px;padding-right:15px;">      <a href="#" style="font-size: 21px; line-height:21px;"><img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{cb35bb71-339d-4aa9-8593-502f7cc4f922}_white_arrow.png" style="display: block;" width="12" height="21" border="0" alt="">
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table></td></tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif;color:#0071C5;padding:20px 0px 20px 0px;"><table><tr>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;padding:0px 0px 0px 0px;font-weight:bold;" valign="top">Webinar name name</td></tr><tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:24px;color:#0071C5;font-weight:bold;">name name name</td></tr>
       <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:23px;color:#787878;">Jan 30-Fed 2 PST</td></tr>
        </table></td>
       </tr>
        <!--CTA-->
        <tr><td style="padding:0px 0px 0px 0px;">   <table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; overflow: hidden; padding: 0px 0px 0px 0px;">
                                                                                            <tr>
                                                                                                <td style="font-size: 16px; vertical-align: top; text-align: left; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 20px; background-color: #A6CE39 ;  padding: 9px 0px 12px 12px;" align="left" bgcolor="#A6CE39" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #A6CE39 ;">                                                                                   <tr>
                                                                                           <td style="background-color: #A6CE39 ; color: #ffffff; font-weight: normal; font-family: arial, helvetica, sans-serif; font-size: 16px; line-height:21px; padding-right: 35px;text-align: left;"><a href="#" style="color: #ffffff; text-decoration: none;" valign="top">Register Today </a>  </td>
                                                                                               <td width="12" align="left" style="font-size: 21px; line-height:21px;padding-right:15px;">      <a href="#" style="font-size: 21px; line-height:21px;">
                                                                                                                    <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{cb35bb71-339d-4aa9-8593-502f7cc4f922}_white_arrow.png" style="display: block;" width="12" height="21" border="0" alt="">
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
            </td></tr>

                          </table></td></tr><!--ENd MOBILE Section-->
                                                             <tr class="spacer" height="6" style="height:6px; font-size:6px;line-height:6px;"><td class="spacer" style="height:6px; font-size:6px;line-height:6px;">&nbsp;</td></tr>

                                            <tr><td class="sidebar-wrapper" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding:25px 25px 30px 15px;  text-align:left;background-color:#FFFFFF ">
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;width:100%"><tr>
       <td valign="top" style="padding:0px 0px 0px 0px;" align="left">
            <table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;width:100%">
                <tr>
                <td style="height:26px;width:26px;padding:0px 12px 0px 0px;">
                <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{0bee934c-a8e7-4c95-9605-37ca3991dd19}_intel_icons_b_functions_pointing.png" style="display:block;border:0px;height:26px;width:26px;" alt=""></td>
                <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; line-height:26px;color:#0071C5;padding-top:1px;" align="left" valign="center">Contact Us</td>
                </tr>
           </table>
          </td>
       </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif;color:#0071C5;padding:20px 0px 20px 0px;"><table><tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:24px;color:#0071C5;">Planning a technology<br> project? Intel can help.</td></tr>

       </table></td>
       </tr>
        <!--CTA-->
                                                                                            <tr>
                                                                                        <td class="mobile-cta-container-td" style="color:#0071C5; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:18px;padding:0px 0px 0px 0px;font-weight:bold">
                                                                                            <table class="mobile-cta-container last" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                                <tr>
                                                                                                    <td class="mobile-cta" style="font-size:14px; line-height:18px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                                                                                                        <a href="#" class="mobile-cta-text" style="font-size:14px; line-height:18px;color:#0071C5; font-family: Arial, Helvetica, sans-serif; font-weight: bold;text-decoration:none;">Contact Us<span class="hide" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> &gt;</span></a>


                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>


                          </table></td></tr><!--ENd MOBILE Section-->
                                      </table></td>
                                                        <!-- Mobile: White on the Top -->
                                                        <!-- Mobile Section -->
</tr>

                                                        <!-- End Right Column -->
                                                    </table>
                                                    <!-- End Module -->

                                                    </td>
                                            </tr></tbody>
                                            </table>
                                </td></tr><tr><td valign="top" style="background-color:#FFFFFF;">
                                              <table class="module" border="0" cellspacing="0" cellpadding="0" style="background-color: #0071c5; border-collapse: collapse;" width="670" align="center">
                                             <tr>
                                                <td valign="top">

                                                    <!-- Begin Footer -->
                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #0071c5; border-collapse: collapse;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="hide" style="background-color:#FFFFFF;100%">
                                                                    <img src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{d29adae3-55f1-4eec-98b8-81a10edb7b39}_kink.png" style="display: block;" alt="" width="670" height="29" border="0">
                                                                </td>
                                                            </tr>
<tr><td valign="top" style="background-color:#0071c5;">
                                              <table class="module" border="0" cellspacing="0" cellpadding="0" style="background-color: #0071c5; border-collapse: collapse;" width="670" align="center">
                                             <tr>
                                                <td valign="top">

                                                    <!-- Begin Footer -->
                                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #0071c5; border-collapse: collapse;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="footer-header" style="color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size: 20px; padding-bottom: 20px; padding-left: 30px; text-align:left;">Conversations</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding-left: 30px; padding-right: 30px;">
                                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="social-icon-cont" valign="top" align="left" style="padding-bottom: 15px;">
                                                                                    <!-- Social Icons -->
                                                                                    <table width="20%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width: 25px;">
                                                                                                    <a href="https://www.facebook.com/Intel?elq=~~eloqua..type--emailfield..syntax--recipientid~~&elqCampaignId=~~eloqua..type--campaign..campaignid--0..fieldname--id~~">
                                                                                                        <img id="facebook" src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{6fb9a108-e58d-4305-a25a-7c887c963282}_facebook-icon.png" style="display: block;" width="8" height="15" alt="Facebook" border="0">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td style="width: 25px;">
                                                                                                    <a href="https://www.linkedin.com/company/intel-corporation?elq=~~eloqua..type--emailfield..syntax--recipientid~~&elqCampaignId=~~eloqua..type--campaign..campaignid--0..fieldname--id~~">
                                                                                                        <img id="linkedin" src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{3bab5b35-8022-4b96-92ee-1d1b0752d19a}_linkedin-icon.png" style="display: block;" width="13" height="12" alt="LinkedIn" border="0">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td style="width: 25px;">
                                                                                                    <a href="https://twitter.com/intel?elq=~~eloqua..type--emailfield..syntax--recipientid~~&elqCampaignId=~~eloqua..type--campaign..campaignid--0..fieldname--id~~">
                                                                                                        <img id="twitter" src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{7baecf77-8f9e-4d3a-b56e-0b57cfd4b75e}_twitter-icon.png" style="display: block;" width="16" height="15" alt="Twitter" border="0">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td style="width: 25px;">
                                                                                                    <a href="http://www.intel.com/content/www/us/en/blogs-communities-social.html?elq=~~eloqua..type--emailfield..syntax--recipientid~~&elqCampaignId=~~eloqua..type--campaign..campaignid--0..fieldname--id~~">
                                                                                                        <img id="plus" src="http://images.plan.intel.com/EloquaImages/clients/IntelCorporation/{5a347572-66f6-4464-99dd-19182b3e15b0}_plus-icon.png" style="display: block;" width="12" height="11" alt="Share" border="0">
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="hide" style="border-bottom: 1px solid #FFFFFF;">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td valign="top" style="padding-top: 30px; padding-bottom: 0px; padding-left: 30px; padding-right: 35px;color:#FFFFFF">
                                                                    <table align="left" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" style="color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; padding-bottom: 10px; text-align:left;">Copyright &copy; 2014 Intel Corporation. All rights reserved. Intel, the Intel logo, {List relevant trademarks} are trademarks of Intel Corporation in the U.S. and/or other countries.</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Footer -->

                                                </td>
                                            </tr>

                                    </table>
                                    <!-- End Table Container -->
                                </td>
                                </tr>
                                </tbody>
                                </table>


                    <!-- End Table Background -->
                </td>
            </tr></table></td></tr>
        </tbody>
    </table>



</td></tr></tbody></table>
