/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
* { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
#outlook a {
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	width: 100%!important; 
	height: 100%;
}
.ExternalClass {
	width:100%;
	background-color: #ffffff;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;
}
#backgroundTable {
	margin:0;
	padding:0;
	width:100% !important;
	line-height: 100% !important;
	background-color: #ffffff;
}


/* ------------------------------------- 
		RESETS 
------------------------------------- */
center {
  width: 100%;
  min-width: 580px;
}

a img { 
  border: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td { 
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; 
}
table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */

/*Colors
Header dark blue: 007DC6
Small header, background blue: 0071c5
*/

img {
	outline:none;
	text-decoration:none;
	-ms-interpolation-mode: bicubic;
}
a img {
	border:none;
}
.image-fix {
	display:block;
}
table {
	border-collapse:collapse;
	mso-table-lspace:0pt;
	mso-table-rspace:0pt;
}
a {
	color: #007DC6;
	text-decoration: none !important;
}
hr {
	border: 0;
	width: 100%;
	color: #cccccc;
	background-color: #cccccc;
	height: 1px;
}
.blue {
	color: #007DC6;
}
.btn {
	font-size: 20px;
	text-decoration:none;
	color: #FFFFFF;
	background-color: #fdb813;
	padding:16px 22px;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	display: inline-block;
	margin-top: 6px;
}
p.callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
.callout a {
	font-weight:bold;
	color: #ffffff;
}
.spaced {
	background-color: #eeeeee;
	height: 10px;
	display: block;
	clear: both;
}
.no-padding {
	padding: 0 !important;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content p { padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, "Lucida Grande", sans-serif; line-height: 1.0; margin-bottom:10px; color:#007DC6; word-break: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #007DC6 !important;
}
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
	color: #007DC6 !important;
}
h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #007DC6 !important;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #007DC6; line-height: 0; text-transform: none; }

h1 { font-weight:600; font-size: 24px;}
h2 { font-weight:600; font-size: 18px;}
h3 { font-weight:500; font-size: 16px;}
h4 { font-weight:600; font-size: 14px;}
h5 { font-weight:600; font-size: 12px;}
h6 { font-weight:600; font-size: 12px; color:#5F5F5E;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:12px; 
	line-height:1.4;
	color: #5F5F5E;
}
p.lead { font-size:18px;font-weight: 600; }
p.last { margin-bottom:0px;}
p.extra-padding { margin-bottom: 26px; }

ul li {
	margin-left:5px;
	list-style-position: inside;
}


/* --------------------------------------------------- 
		RESPONSIVENESS
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone */
.container {
	display:block!important;
	max-width:670px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:0px;
	max-width:670px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table, table.table-wrap { width: 100%; }


/* Odds and ends */
.column {
	width: 335px;
	float:left;
}
.column-3 {
	width: 33%;
}
.column tr td { padding: 40px 30px 30px 30px; }
.column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:670px!important;
}
.column table,
.column-3 table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}
.header-table,
.sidebar-table,
.footer-table {
	background-color: #0071c5;
}
.footer-table hr {
	color: #ffffff;
	background-color: #ffffff;
}
td.header-text-td,
.column tr td.header-text-td {
	padding:25px;
}
.header-text-td p {
	color: #ffffff;
	font-weight: 600;
}
.header-text-td h1 {
	color: #ffffff;
	padding-top: 25px;
	display: block;
	clear: both;
}
.header-text-td h2 {
	color: #ffffff;
}
.header-text-td a {
	color: #ffda00 !important;
}
.header-text-td h1 a,
.header-text-td h2 a,
.header-text-td h3 a,
.header-text-td a.btn {
	color: #ffffff !important;
}
td.header-image,
td.sidebar-td {
	padding: 0 !important;
}
td.sidebar-td h1,
td.sidebar-td h2,
td.sidebar-td h3,
td.sidebar-td h4,
td.sidebar-td h5,
td.sidebar-td p,
td.sidebar-td a {
	color: #ffffff !important;
}
.content-td {
	padding: 32px;
}
table.content-title-icon {
	width: 100%;
	margin-bottom: 12px;
}
td.title-icon {
	width: 38px;
}
td.title-icon img {
	width: 26px;
	height: 26px;
}
td.title-text {
	padding-top: 10px;
}
td.title-cta,
p.title-cta {
	text-align: right;
	font-weight: 600;
	font-size: 12px;
}
td.title-cta a,
p.title-cta a {
	font-weight: 600;
	color: #00AEEF !important;
}
table.span2 {
	width: 49%;
}
table.span3 {
	width: 180px;
	margin-right: 32px;
}
td.content-span2-left {
	padding-right: 16px;
}
td.content-span2-right {
	padding-left: 16px;
}
.caption {
	font-size: 10px;
	font-style: italic;
	color: #004280;
}
.copyright {
	font-size: 10px;
	padding-top: 28px;
	color: #ffffff;
}
.copyright a {
	font-size: 10px;
	color: #ffffff !important;
}
p.social {
	margin-bottom: 32px;
}
img.social-icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 670px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}
	
	table[class="container"] { width: auto!important; float:none!important;}
	div[class="column"], table[class="span2"], table[class="span3"] { width: auto!important; float:none!important;}

	td[class="header-image"], table[class="header-image"], div[class="hide-me"], div[class="column hide-me"], td[class="hide-me"], td[class="title-cta hide-me"], p[class="title-cta hide-me"], img[class="image-fix hide-me"], hr[class="hide-me"] { display:none !important; }

	td[class="header-text-td"], td[class="content-td"] { padding:25px !important; }

	td[class="content-span2-left"], td[class="content-span2-right"], td[class="content-span3-left"], td[class="content-span3-center"], td[class="content-span3-right"] { padding: 0px !important; }
	td[class="content-span2-right"], td[class="content-span3-center"], td[class="content-span3-right"] { padding-top: 32px !important; }
	
	img[class="social-icon"] { width: 24px !important; height: 24px !important; }
	p[class="copyright"] { padding-top: 0px !important; }
}