
.editable-click, a.editable-click, a.editable-click:hover {
text-decoration: none;
border-bottom: none;
}

.edita , .edit, .editw, .editd {
    cursor: pointer;
    list-style-type: none;
}


.tpl-sidebar { padding-top: 30px; background-color: #f2f2f2; margin-top: 20px; padding-left: 10px;}

.tpl-editor { padding-top: 30px; padding-left: 10px; padding-bottom: 30px; background-color: #dddddd; margin-top: 20px;}

.tpl-actions { margin-top: 20px;}

.tpl-cont-actions{ margin-top: 10px; padding-left: 130px;}

.tpl-inj-space{ margin-top: 10px; padding-left: 30px;}

.tpl-link-editable { color: rgb(95, 95, 94);}

.tpl-edit {
    cursor: pointer;
}
/*.tpl-edit:hover {opacity: 0.7;}*/

/****** tpl-rp  : Class identifier for all template module repeat styles *******/

.tpl-rp-add-btn{
    margin-top: 10px; margin-bottom: 5px;
}
