/*=======
New Global styling by Cygnis
=======*/
.primary-background-color {
	background: #005b90; /* Old browsers */
	background: -moz-linear-gradient(top, #005b90 1%, #007dc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #005b90), color-stop(100%, #007dc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005b90 1%, #007dc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005b90 1%, #007dc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #005b90 1%, #007dc6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #005b90 1%, #007dc6 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b90', endColorstr='#007dc6', GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.secondary-background-color {
	background-color: #f7f7f7;
}
.spinner {
	background: url(../img/spinner.png) no-repeat;
	background-size: 100% auto;
	height: 30px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 15%;
	width: 30px;
	z-index: 99;
	display: none;
}
 @-webkit-keyframes rotating {
 from {
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
 @keyframes rotating {
 from {
 -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
 -moz-transform: translate3d(0, 0, 0) rotate(0deg);
 -ms-transform: translate3d(0, 0, 0) rotate(0deg);
 -o-transform: translate3d(0, 0, 0) rotate(0deg);
 transform: translate3d(0, 0, 0) rotate(0deg);
}
to {
	-webkit-transform: translate3d(0, 0, 0) rotate(360deg);
	-moz-transform: translate3d(0, 0, 0) rotate(360deg);
	-ms-transform: translate3d(0, 0, 0) rotate(360deg);
	-o-transform: translate3d(0, 0, 0) rotate(360deg);
	transform: translate3d(0, 0, 0) rotate(360deg);
}
}
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
}
.margin-none {
	margin: 0;
}
.margin-5px {
	margin: 5px;
}
.margin-10px {
	margin: 10px;
}
.margin-15px {
	margin: 15px;
}
.margin-20px {
	margin: 20px;
}
.margin-right-none {
	margin-right: 0;
}
.margin-right-5px {
	margin-right: 5px;
}
.margin-right-10px {
	margin-right: 10px;
}
.margin-right-15px {
	margin-right: 15px;
}
.margin-right-20px {
	margin-right: 20px;
}
.margin-left-none {
	margin-left: 0;
}
.margin-left-5px {
	margin-left: 5px;
}
.margin-left-10px {
	margin-left: 10px;
}
.margin-left-15px {
	margin-left: 15px;
}
.margin-left-20px {
	margin-left: 20px;
}
.margin-top-5px {
	margin-top: 5px;
}
.margin-top-10px {
	margin-top: 10px;
}
.margin-top-15px {
	margin-top: 15px;
}
.margin-top-20px {
	margin-top: 20px;
}
.margin-top-40px {
	margin-top: 40px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}
.margin-bottom-10px {
	margin-bottom: 10px;
}
.margin-bottom-15px {
	margin-bottom: 15px;
}
.margin-bottom-20px {
	margin-bottom: 20px;
}
.padding-none {
	padding: 0;
}
.padding-5px {
	padding: 5px;
}
.padding-10px {
	padding: 10px;
}
.padding-15px {
	padding: 15px;
}
.padding-20px {
	padding: 20px;
}
.padding-right-none {
	padding-right: 0;
}
.padding-right-5px {
	padding-right: 5px;
}
.padding-right-10px {
	padding-right: 10px;
}
.padding-right-15px {
	padding-right: 15px;
}
.padding-right-20px {
	padding-right: 20px;
}
.padding-left-none {
	padding-left: 0;
}
.padding-left-5px {
	padding-left: 5px;
}
.padding-left-10px {
	padding-left: 10px;
}
.padding-left-15px {
	padding-left: 15px;
}
.padding-left-20px {
	padding-left: 20px;
}
.padding-top-5px {
	padding-top: 5px;
}
.padding-top-10px {
	padding-top: 10px;
}
.padding-top-15px {
	padding-top: 15px;
}
.padding-top-20px {
	padding-top: 20px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-20px {
	padding-bottom: 20px;
}
/*=======
New Global styling by Cygnis end
=======*/
/*=====
New styling by cygnis
======*/
.icon2 {
	background: url("../img/icons2.png") no-repeat scroll left top / 143px 71px rgba(0, 0, 0, 0);
	float: left;
	margin-right: 10px;
}
.icon-webinar-training, .icon-template {
	height: 22px;
	width: 22px;
}
.icon-webinar-training {
	background-position: -60px -22px;
}
.icon-template {
	background-position: -83px -24px;
}
.nav-tabs .active .icon-webinar, .nav-tabs > li > a:hover .icon-webinar {
	background-position: 0 -48px;
}
.icon2.icon-webinar {
	background-position: 0 0;
}
.icon-webinar {
	background-position: 0 -554px;
	height: 22px;
	width: 26px;
}
.icon2.icon-landingpage {
	background-position: -31px 0;
}
.icon-landingpage {
	background-position: 0 -285px;
	height: 23px;
	width: 26px;
}
.plan-cal-icons .intro {
	float: left;
	margin-right: 1%;
	width: 19.2%;
}
.plan-cal-icons .intro:last-child {
	margin-right: 0;
}
.plan-left-column {
	margin-right: 30px;
	max-width: 280px;
}
.page-title {
	font-family: IntelClearLight;
	font-size: 1.75em;
	line-height: normal;
	margin-top: 65px;
}
.placeholder-btn {
	display: block;
	position: relative;
	text-decoration: none !important;
	width: 100%;
}
h2.placeholder_button {
	background-color: #8db12b;
	color: #fff;
	font-size: 18px;
	line-height: 23px;
	margin: 0;
	padding: 6px 5px 6px 20px;
	position: relative;
	font-family: "IntelClearBold", sans-serif;
}
h2.placeholder_button:hover, .support-fixed:hover, .btn-green:hover {
	background-color: #99bc3a;
}
.placeholder-btn .glyphicon-plus:before {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.placeholder-btn i {
	background-color: #6b6b6b;
	color: #fff;
	display: table;
	font-size: 12px;
	height: 35px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
h2.calendar-menu {
	background: #005d93; /* Old browsers */
	background: -moz-linear-gradient(top, #005d93 0%, #007bc2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005d93), color-stop(100%, #007bc2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005d93 0%, #007bc2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005d93 0%, #007bc2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #005d93 0%, #007bc2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #005d93 0%, #007bc2 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005d93', endColorstr='#007bc2', GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	cursor: pointer;
	font-family: IntelClearLight;
	font-size: 19px;
	height: 40px;
	line-height: 20px;
	margin: 0 0 2px;
	padding: 10px 15px;
	border-radius: 2px;
}
.accord-panel ul {
	margin: 0;
	padding: 0;
}
.accord-panel {
	padding: 15px 25px;
}
.calendar_menu_tabs {
	border-radius: 4px 4px 0 0;
}
.filter-wrapper li:before {
	border: 1px solid #757575;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 30%;
	width: 8px;
	z-index: 0;
}
.accord-flip .caret {
	border-width: 6px;
	float: right;
	margin: 3.5% 0 0;
	transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
}
.accord-flip .caret.open {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.custom-select, .dataTables_length label {
	background-color: #fff;
	border: 1px solid #cfcfcf;
	height: 35px;
	padding: 6px 10px;
	position: relative;
	border-radius: 2px;
}
.dataTables_length label:before {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    pointer-events: none;
}
.dataTables_length label:after {
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    content: "";
    position: absolute;
    right: 10px;
    top: 45%;
    pointer-events: none;
}
.dataTables_length label {
   font-weight: normal;
    margin: 0;
    padding-right: 0;
}
.dataTables_length label select{
	border: 0;
}
.caret-holder {
	background-color: #fff;
	height: 100%;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 30px;
	z-index: 10;
}
.custom-select .caret {
	margin-top: 50%;
}
.custom-select select {
	border: 0 none;
	color: #6b6b6b;
	width: 100%;
}
.plan-right-body {
	width: 73.5%;
}
.intro-body-plan {
	margin: 0;
}
.fc-header-title h2 {
	font: 1.75em "IntelClearLight";
	margin-bottom: 30px;
}
.support-fixed {
	background-color: #8cb12a;
	color: #fff;
	display: block;
	padding: 5px 20px;
	position: fixed;
	right: -45px;
	top: 190px;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	text-decoration: none !important;
}
.support-fixed h3 {
	color: #fff;
	font-size: 18px;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
	font-family: "IntelClearBold", sans-serif;
}
.cal-legend {
	color: #6b6b6b;
}
.icon.no-bg {
	background-image: none;
	font-size: 21px;
}
.terms-privacy li a {
	color: #007dc6;
}
.fc-button .fc-icon {
	line-height: 24px;
}
.form-horizontal .form-group {
	color: #6b6b6b;
	font-family: IntelClearBold;
	font-size: 15px;
	font-weight: normal;
}
.modal .custom-select {
	height: 37px;
	border-radius: 2px;
}
.modal-footer {
	text-align: center;
}
.lnk.modal-dismiss {
	font-size: 16px;
	margin-right: 15px;
}
.modal .btn-green.submit {
	font-size: 18px;
}
.date {
	position: relative;
}
.date i {
	background: #e9e9e9; /* Old browsers */
	background: -moz-linear-gradient(top, #e9e9e9 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e9e9e9), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e9e9e9 1%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e9e9e9 1%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e9e9e9 1%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e9e9e9 1%, #ffffff 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	height: 33px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 30px;
	display: table;
}
.date i:before {
	display: table-cell;
	vertical-align: middle;
}
#campaign-associate-popup .radio-inline {
	font-family: IntelClearBold;
}
.modal-header h2 {
	font-family: IntelClearLight;
	margin: 0;
	line-height: 28px;
}
.modal-header h2 i {
	color: #333433;
	font-size: 12px;
	margin-left: 5px;
	vertical-align: middle;
}
.tabs-wrapper {
	min-height: 250px;
}
.topnav .links a .first-menu {
}
.panel.help-for-learn {
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
	color: #6b6b6b;
	font-size: 15px;
}
.panel.help-for-learn .panel-body {
	padding: 25px;
}
.nav-tabs .active .icon-webinar, .nav-tabs > li > a:hover .icon-webinar {
	background-position: 0 -48px;
}
.nav-tabs .active .icon-landingpage, .nav-tabs > li > a:hover .icon-landingpage {
	background-position: -31px -48PX;
}
.nav-tabs > li > a:hover {
	background-color: #1273C4;
	color: #fff;
	border-color: #1273C4;
	border-bottom-color: transparent;
}
.nav-tabs > li:last-child a {
	margin-right: 0;
}
#learn-page .tab-content {
	border-top: 1px solid #acacac;
	min-height: 430px;
}
.search .input-group-btn {
	height: 35px;
	vertical-align: top;
}
.search .btn.btn-default {
	border-radius: 0 2px 2px 0;
	height: 100%;
	padding: 0;
	width: 35px;
	color: #6b6b6b;
}
.search .btn.btn-default span {
	font-size: 18px;
}
.search input {
	border-right: 0 none;
}
.search .btn-default:hover, .search .btn-default:focus, .search .btn-default.focus,  .search .btn-default:active, .search .btn-default.active {
	background-color: inherit;
	border-color: #cfcfcf;
	border-left: transparent;
}
.search .form-control:focus {
	box-shadow: none;
}
.nav.nav-pills.custom-filter {
	font-size: 18px;
}
.custom-filter.nav-pills > li.active > a, .custom-filter.nav-pills > li.active > a:hover, .custom-filter.nav-pills > li.active > a:focus {
	border-radius: 0;
	background-color: #1273c4;
	color: #fff;
	border-color: #1273c4;
}
.nav-pills.custom-filter > li + li {
	margin-left: 5px;
}
.nav-pills.custom-filter li a {
	background-color: #f7f7f7;
	border-radius: 0;
	color: #6b6b6b;
	padding: 8px 22px;
	border: 1px solid #acacac;
}
.nav.custom-filter > li > a:hover {
	background-color: #1273c4;
	color: #fff;
	border-color: #1273c4;
}
.custom-filter .custom-select {
	height: auto;
	padding: 7px 0;
	width: 65px;
}
.table-wrapper-learn {
	border: 0px solid #acacac;
	border-radius: 2px;
	margin-top: 0px;
	overflow: hidden;
	margin-bottom: 50px;
}
.table-wrapper-learn .table {
	margin: 0;
}
.table-bordered th:last-child {
	border-right: 0 !important;
}
.table-bordered tr td:last-child {
	border-right: 0 !important;
}
.learn-table thead th {
	font-family: IntelClearLight;
	font-size: 19px;
	font-weight: normal;
}
.learn-table tbody tr td {
	font-size: 15px;
	color: #6b6b6b;
}
.learn-table tbody tr th, .learn-table tbody tr td {
	padding: 13px;
}
.learn-table thead th .caret {
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
	cursor: pointer;
}
.caret.up {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.panel-body ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.panel-body li:first-child {
	width: 35%;
}
.panel-body li {
	float: left;
	margin-right: 5%;
	width: 26%;
}
.panel-body li:last-child {
	margin-right: 0;
}
.panel-body a {
	color: #1273c4;
}
.nav.nav-tabs.learn-page-tabs > li:last-child {
	float: right;
}
.filter-and-search .spinner {
	left: 130px;
	right: auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-header .close {
	margin-top: 0;
	position: absolute;
	right: 15px;
	top: 15px;
	opacity: 0.4;
}
.intro-body.intro-body-plan {
	margin: 0;
}
.topnav .manage-menu .admin-menu {
	padding-right: 0;
}
.custom-caret:before{
	content: "";
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: bottom;
    width: 0;
}
.filter-btn {
   float: right;
    margin-top: 60px;
    width: 145px;
}
.filter-btn h2.placeholder_button {
    text-align: left;
    text-indent: 15px;
}
.filter-wrapper {
    float: left;
    overflow: hidden;
    width: 100%;
}
.filter-accordion .filter-list {
    padding: 0;
}
.filter-colmns.custom-width-1 {
    width: 9%;
}
.filter-colmns {
    padding-left: 0;
}
.filter-colmns.custom-width-2 {
    width: 22.4%;
    margin-right: 5px;
}
.filter-colmns.custom-width-2:last-child{
	margin-right: 0;
}
.form-control{
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	box-shadow: none;
}
.btn-green.update-result-btn {
    display: block;
    margin-top: 41px;
    padding: 6px 22px;
    font-size: 18px;
     text-align: center;
     margin-right: 0;
}
.dataTables_filter {
    max-width: 440px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 8px;
}
.dataTables_filter label {
    display: block;
    overflow: hidden;
}
.dataTables_filter .input-group.search {
    display: inline-block;
    /*float: right;*/
    width: 49%;
    position: relative;
}
.dataTables_filter .custom-select{
    float: left;
    width: 49%;
    font-weight: normal;
}

.dataTables_filter .input-group.search input[type="text"] {
    box-sizing: border-box;
    float: left;
    width: 84%;
    font-weight: normal;
    height: 37px;
}
.dataTables_filter .search .input-group-btn {
    float: left;
}
.table-wrapper-review {
    margin-top: 10px;
}
.custom-select select:focus{
	outline: none;
}
table a.notrack:not(.action-icon) {
    /*color: #007dc6;
    text-transform: capitalize;*/
}
.custom-caret.close {
    line-height: 20px;
    opacity: 1;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
table.requests-table tr th:nth-child(7), table.requests-table tr th:nth-child(6) {
    width: 140px !important;
}
.request-detail-page .panel.help-for-learn .panel-body {
    padding: 20px;
}
.request-detail-page .request-header {
    padding: 0;
}
.request-detail-page .panel-body li:first-child {
    width: 18%;
    margin-right: 5%;
}
.request-detail-page .panel-body li:nth-child(2){
	 width: 28%;
}
.request-detail-page .panel-body li {
    margin-right: 1.5%;
    width: 23%;
}
.request-detail-page .panel-body li:last-child{
	margin-right: 0;
}
.panel-body.auto-width p {
    margin: 0 0 5px;
}
.panel-body.auto-width p:last-child{
	margin-bottom: 0;
}
.request-detail-page-tabs {
    text-align: center;
}
.nav-tabs.request-detail-page-tabs li {
    display: inline-block;
    float: none;
}
.request-detail-page-tabs > li > a span {
    font-size: 20px;
    position: relative;
    top: 2px;
}
.send-message {
    margin: 0 auto;
    max-width: 570px;
}
.send-message{
	font-size: 15px;
}
.send-message textarea {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}
.send-message .control-group {
    margin-bottom: 15px;
}
.chosen-container-multi .chosen-choices {
	background:none;
	box-shadow: none;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    padding: 5px 12px;
}
.control-group.message-recipients-group {
    float: left;
    margin: 0;
    width: 70%;
}
.btn-green.send-message-btn {
     display: block;
    float: right;
    font-size: 18px;
    margin-right: 0;
    padding: 9px 12px;
    text-align: center;
    width: 28%;
}
.message-bottom{
	width: 670px;
	margin: 0 auto;
}
.message-bottom ul {
    padding: 0;
    list-style: none;
}
.message-bottom ul li {
    padding: 0;
    margin: 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 25px;
}
.message-bottom ul li span.circle {
	 border: 1px solid #1273c4;
    border-radius: 100%;
    color: #1273c4;
    display: inline-block;
    height: 40px;
    padding:10px;
    text-align: center;
    width: 40px;
}
.message-bottom ul li.icon-right span.circle, .message-bottom ul li.icon-right p {
	float: right;
	text-align: right;
}
.message-bottom ul li.icon-right p{
	margin-right: 15px;
}
.message-bottom ul li.icon-left p{
	margin-left: 15px;
}
.message-bottom ul li.icon-left span.circle, .message-bottom ul li.icon-left p {
	float: left;
	text-align: left;
}
.message-bottom ul li.icon-right p , .message-bottom ul li.icon-left p {
	width: 80%;
}
.message-bottom ul li p span{
	color: #adadad;
}
.message-bottom ul li p{
	margin-bottom: 0;
}
.send-message-btn .caret{
	 transform: rotate(270deg);
	 -webkit-transform: rotate(270deg);
	 -moz-transform: rotate(270deg);
	 -o-transform: rotate(270deg);
	 -ms-transform: rotate(270deg);
}



 @media screen and (-webkit-min-device-pixel-ratio:0) {
.search .input-group-btn {
	height: 37px;
}
.custom-filter .custom-select {
	padding: 7.5px 0;
}
::i-block-chrome, .custom-filter .custom-select {
 padding: 6px 0;
}
::i-block-chrome, .nav-tabs li a {
 margin-bottom:0;
}
::i-block-chrome, .nav-tabs li:last-child a {
 border: 1px solid #acacac;
}

::i-block-chrome, .nav-tabs > li > a {
 border-bottom: 1px solid #F7F7F7;
}
}

/*=====
New styling by cygnis end
======*/
