/*Fonts*/
@font-face {
    font-family: 'IntelClearRegular';
    src: url('fonts/IntelClear_WLatn_Rg.woff');
    src: url('fonts/IntelClear_WLatn_Rg.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Rg.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Rg.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearRegularItalic';
    src: url('fonts/IntelClear_WLatn_It.woff');
    src: url('fonts/IntelClear_WLatn_It.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_It.woff') format('woff'),
         url('fonts/IntelClear_WLatn_It.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearLight';
    src: url('fonts/IntelClear_WLatn_Lt.woff');
    src: url('fonts/IntelClear_WLatn_Lt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Lt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Lt.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearLightItalic';
    src: url('fonts/IntelClear_WLatn_LtIt.woff');
    src: url('fonts/IntelClear_WLatn_LtIt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_LtIt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_LtIt.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearBold';
    src: url('fonts/IntelClear_WLatn_Bd.woff');
    src: url('fonts/IntelClear_WLatn_Bd.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_Bd.woff') format('woff'),
         url('fonts/IntelClear_WLatn_Bd.ttf') format('truetype'),
}
@font-face {
    font-family: 'IntelClearBoldItalic';
    src: url('fonts/IntelClear_WLatn_BdIt.woff');
    src: url('fonts/IntelClear_WLatn_BdIt.eot') format('embedded-opentype'),
         url('fonts/IntelClear_WLatn_BdIt.woff') format('woff'),
         url('fonts/IntelClear_WLatn_BdIt.ttf') format('truetype'),
}
@font-face{
	font-family: 'Simple-Line-Icons';
	src:url('fonts/Simple-Line-Icons.eot');
	src:url('fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.woff') format('woff'),
		url('fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*Our Styles*/
html,
body {
	height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,a,select{font-family:'IntelClearRegular','helvetica',sans-serif;}
body {
	font-size: 14px;
	line-height: 20px;
	color: #6b6b6b;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
strong {
	font-family:'IntelClearBold',sans-serif;
	font-weight: normal;
}
/*iPhone*/
@media screen and (max-device-width: 480px){
	body {
		min-width: 1024px;
	}
}
/*iPad*/
@media only screen and (device-width: 768px) {
	body {
		min-width: 1024px;
	}
}
a {
  color: #1570a6;
  text-decoration: none;
  outline: 0 none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:focus {
  color: #000;
  text-decoration: none;
  outline: 0 none;
}
.container-wide{
	margin: 0 auto;
	max-width: 1170px;
}
.container{
	margin: 0 auto;
	max-width: 1170px;
}
.hfcontainer{
	margin: 0 auto;	
	position: relative;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 30px;
}
h1, h2, h3, h4 {
	font-family: 'IntelClearLight', sans-serif;
	font-weight: normal;
	color: rgb(0,121,192);
	line-height: 1.25;
	margin: .25em 0 .75em;
	font-size: 34px;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 23px;
}
h4 {
	font-family: 'IntelClearRegular';
	font-size: 16px;
	color:#6b6b6b;
}
p{
	/*font-family: 'IntelClearRegular';
	font-size: 12px;
	color:#6b6b6b;*/
}
.rememberme label{
	font-family: 'IntelClearRegular';
	font-size: 12px;
	color:#6b6b6b;
	padding-left: 5px;
}
.rememberme input[type=checkbox]{
	/*display: none;*/
}
.rememberme .chk-lbl{
	background: #ffffff;
	border: 1px solid #cfcfcf;
	min-width: 15px !important;
	min-height: 15px !important;
	padding-left: 0;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -53px;
	/*padding: 0 0 30px; */
}
label {
	font-family: 'IntelClearRegular', sans-serif;
	cursor: default !important;
}
label.checkbox.inline {
	font-family: 'IntelClearRegular', sans-serif;
	font-weight: normal;
	margin-bottom: -20px;
	color: #757575;
	font-size: 15px;
}

/*Bootstrap Overwrite*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 15px;
}
input[type="text"],input[type="password"]{
	border: 1px solid #ccc;
	padding: 6px 12px;
	border-radius: 4px;
	/*height: 40px;
	padding-left: 15px;*/
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
    font-family: 'IntelClearLight';
    padding-left: 0;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
   padding-left: 0;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}
.login-form input[type='text'], .login-form input[type='password']{
	width: 85%;
}
input[disabled] {
	cursor: not-allowed !important;
	background-color: #eeeeee;
}

.table-bordered,
.table-bordered tr,
.table-bordered td,
.table-bordered th {
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border: 0px !important;
}
/*.table-bordered {
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border: 1px solid #cfcfcf !important;
}*/
.table-bordered th { border-right: 2px solid #fff !important; }
.table-bordered th:last-child { border-right: 1px solid #cfcfcf !important; }

.table-bordered td {
	padding: 11px !important;
	vertical-align: middle !important;
	border-top: 2px solid #fff !important;
	border-right: 2px solid #fff !important;
	border-bottom: 2px solid #fff !important;
}

.accordion-group {
	margin-bottom: 1px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.accordion-head,
.accordion-heading {
	font-size: 15px;
	background-color: #007dc6;
	color: #fff;
}
.accordion-heading a {
	color: #fff;
}
.accordion-heading a:hover {
	text-decoration: none;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #fff;
	background-color: #f2f2f2;
	font-size: 14px;
}
.accordion-head {
	background-color: #00adef;
	padding: 8px 15px 1px 15px;
	margin-bottom: 1px;
}
.accordion-head img {
	margin-top: 8px;
}
.learn-more-arrow {
	width: 92px;
	font-family: 'IntelClearBold', sans-serif;
	color: #fff;
	background: transparent url(../img/bg-learn-more-arrow.png) no-repeat right 6px;
	padding-top: 9px;
	display: block;
}
.learn-more-arrow:hover {
	color: #fff;
	text-decoration: none;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.green-arrow {
	background: #00adef url(../img/bg-green-arrow.png) no-repeat bottom right;
}
.green-arrow strong {
	font-weight: 600;
}
.green-arrow .learn-more {
	width: 90px;
	position: relative;
	top: 3px;
	padding-top: 15px;
	left: 158px;
	font-weight: 600;
}
.green-arrow .learn-more a {
	color: #fff;
}
.green-arrow .learn-more a:hover {
	text-decoration: none;
}
.popover {
	max-width: 640px;
}
.popover-thumbnail {
	width: 109px;
	margin-top: 5px;
}
.popover-desc {
	width: 240px;
	font-size: 12px;
	margin: 5px 20px 14px 20px;
	line-height: 16px;
}
.popover-desc h4 {
	color: #1570a6;
	font-size: 14px;
	margin: 0 0 4px 0;
}
.popover-desc a.btn-green {
	margin-top: 10px;
}


/*Editable page*/
.header-row {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px -2px 8px 0px #999;
	-moz-box-shadow: 0px -2px 8px 0px #999;
	box-shadow: 0px -2px 8px 0px #999;
	position: fixed;
	bottom: 0px;
	z-index: 200;
	border-bottom: 0;
	width: 100%;
	max-width: 3000px;
	min-width: 940px;
	border-top: 1px solid rgba(0,0,0,.06);
	border-top: 1px solid #e6e6e6;
	border-color: rgba(0,0,0,.07);
	background: #eee;
}
.header-row header {
	width: 940px;
	height: 56px;
	padding: 0 0 0 0;
	margin: 0 auto;
}
.header-right {
	margin-top: 12px;
	float: right;
}


/*Tabs*/
h2.tabbed-header {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 24px;
	color: #00adef;
	margin-bottom: 31px;
}
h1.tabbed-header span,
h2.tabbed-header span {
	font-size: 24px;
	font-family: 'IntelClearRegular', sans-serif;
	color: #464646;
}
h1.tabbed-header span {
	font-family: 'IntelClearRegular', sans-serif;
	color: #00adef;
}
h1.tabbed-header a,
h2.tabbed-header a {
	font-size: 24px;
	font-family: 'IntelClearRegular', sans-serif;
	color: #00adef;
}
h1.tabbed-header a:hover,
h2.tabbed-header a:hover {
	text-decoration: none;
}
h1.tabbed-header a.active,
h2.tabbed-header a.active {
	/*font-weight: 700;*/
}

.tabbed-contents .nav-tabs > li {
	/*width: 33.333333%;*/
	width: 50%;
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li > a {
	font-family: 'IntelClearLight', sans-serif;
	font-size: 24px;
	background-color: #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	border: 0;
	color: #6b6b6b;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	border:1px solid #acacac;
	border-bottom: 4px solid transparent;

}
.nav-tabs li:hover a, .nav-tabs .active a{
	color: rgb(0,121,192)!important;
	border-bottom: 4px solid !important;
	border:1px solid #acacac;
}
.nav-tabs .active a {
	cursor: default;
	background: white !important;
	border:1px solid #acacac;
	border-bottom:rgb(0,121,192) 4px solid !important;
}

.nav-tabs-simple { }
.nav-tabs-simple > li > a {
	font-size: 16px;
	padding: 10px 31px;
	margin: 0 5px 0 0;
	border-bottom: 1px solid #acacac;
}
.nav-tabs-simple li:hover a, .nav-tabs-simple .active a {
	color: #fff !important;
	background: #1273c4 !important;
	border-bottom: 0 !important;
	border:1px solid #acacac;
}
.nav-tabs-simple .active a {
	cursor: default;
	background: #1273c4 !important;
	border:1px solid #1273c4;
	border-bottom:#acacac 0px solid !important;
}
.nav.nav-tabs.learn-page-tabs > li:last-child { float: left !important; }
.nav.nav-tabs.learn-page-tabs > li:last-child > a { padding-right: 34px; }


/*Campaign Requests*/
.nav-tabs-request.twoup > li {
	width: 49.7%;
}
.nav-tabs-request.threeup > li {
	width: 33.3333333%;
}
.nav-tabs-request.fourup > li {
	width: 24.7%;
}
.nav-tabs-request.fiveup > li {
	width: 19.7%;
}
.nav-tabs-request.sixup > li {
	width: 16.4%;
}
.nav-tabs-request {
	border-bottom: 0;
}
.nav-tabs-request > li {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #00447b;
	background-color: #ebebeb;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-right: 2px;
	text-align: center;
	float: left;
}
.nav-tabs-request > li:last-child {
	margin-right:0;
}
.nav-tabs-request > .active {
	color: #fff;
	cursor: default;
	background-color: #007dc6;
	border: 0;
	border-bottom-color: transparent;
}

.request-step {
	margin-top: 30px;
}
.request-step.step1 {
	text-align: center;
}
#content-update .request-step.step0 label {
	margin-bottom: 0px;
}
#content-update .request-step.step1 label {
	margin-bottom: 18px;
}
#content-update .request-step.step2 label,
#content-update .request-step.step3 label,
#content-update .request-step.step4 label {
	margin-top: 0;
}
.request-step.step2 h3,
.request-step.step3 h3,
.request-step.step4 h3 {
	color: #464646;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}
h3.fieldgroup-header {
	text-align: center; !important;
	font-size: 18px !important;
}
.step2 .form-horizontal .control-group:last-child,
.step3 .form-horizontal .control-group:last-child,
.step4 .form-horizontal .control-group:last-child {
	margin-bottom: 0px;
}
.step0 .form-horizontal .controls,
.step3 .form-horizontal .controls,
.step4 .form-horizontal .controls {
	margin-left: 244px;
}
.lt-ie9 .step4 .form-horizontal .controls {
	margin-left: 0px;
}
.input-note {
	margin: 10px 0;
}
.lt-ie9 .input-note {
	margin-left: 0px;
}
.lt-ie9 .first-checkbox {
	margin-left: -3px;
 }
.fieldgroup,
.controls-minigroup {
	padding: 30px 0;
	border-bottom: 1px solid #ebebeb;
}
.fieldgroup:last-child,
.controls-minigroup:last-child {
	border-bottom: none;
}
.controls-minigroup:first-child {
	padding-top: 0;
}
.controls-minigroup:last-child {
	padding-bottom: 0;
}
.cr-icon {
	width: 100px;
	margin-right: 20px;
	color: #00447b;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.cr-icon p {
	margin-bottom: 2px;
}
.cr-icon span {
	color: #cc0000;
}
.cr-icon img {
	margin-top: 24px;
}
.cr-icon img.alone {
	margin-top: 0px;
}
.cr-description {
	/*width: 640px;
	margin-right: 20px;*/
	width: 800px;
	margin-right: 0;
}
.step0 .cr-description {
	width: 790px;
}
.cr-description h4 {
	font-family: 'IntelClearBold', sans-serif;
	color: #464646;
	font-size: 15px;
	font-weight: normal;
}
.cr-screenshot {
	width: 160px;
	display: none;
}
.speaker-fields input,
.speaker-fields textarea {
	margin-bottom: 8px !important;
}
.speaker-fields textarea {
	height: 65px;
}
.speaker {
	padding-top: 20px;
	padding-bottom: 20px;
	/*border-bottom: 1px solid #ebebeb;*/
	display: none;
}
.speaker_1 {
	display: block;
}
.bios-extra {
	margin-top: 11px;
	display: none;
}


#content-update {
	margin-left: 0;
}
#content-update .accordion-head,
#content-update .accordion-heading {
	font-size: 18px;
	background-color: #ebebeb;
	color: #333;
}
#content-update .accordion-heading a {
	color: #333;
}
#content-update .accordion-heading a:hover {
	text-decoration: none;
}
#content-update .accordion-inner {
	padding: 24px 4px;
	border-top: 1px solid #fff;
	background-color: #fff;
}
#content-update .accordion-head {
	background-color: #598102;
	padding: 8px 15px;
	margin-bottom: 1px;
}
#content-update label {
	font-size: 14px;
	margin-right: 18px;
	margin-top: 5px;
}
#content-update label.error,
.single-request label.error {
	margin-left: 41px;
	margin-top: 3px !important;
	font-size: 13px;
	font-weight: normal;
	display: none !important; /*For launch, breaking dates*/
}
#content-update .step3 label.error,
#content-update .step4 label.error {
	margin-left: 0px;
}
#content-update .form-horizontal .control-label {
	float: left;
	width: 204px;
	padding-top: 5px;
	text-align: right;
	margin-right: 40px;
}

#content-update .form-horizontal.form-taut .control-label {
	padding-top: 0px;
}
#content-update label span {
	font-size: 14px;
	font-weight: normal;
}
#content-update label.inline,
.single-request label.inline {
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
#content-update .input-wide {
	width: 60%;
}
#content-update .input-full {
	width: 98%;
}
#content-update .upload-div {
	/*margin-left: -20px;
	margin-top: -5px;*/
	margin-top: 18px;
}
.required-mark {
	margin-left: -14px;
	margin-right: 8px;
	vertical-align: middle;
	color: #cc0000;
}
.single-request-resource .required-mark { float: left; }
textarea.textarea-medium {
	height: 100px;
}
ul.form-options {
	margin: 0;
	padding: 7px 0 0 0;
	clear: both;
}
ul.form-options li {
	list-style: none;
	padding-bottom: 14px;
}


/*Video Grid*/
#video-grid h3 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 28px;
	color: #00adef;
	margin-top: 38px;
	margin-bottom: 9px;
}



/*Start*/
.auxbar {
	height: 60px;
	background-color: #f7f7f7;
	color: #007dc6;
}
.auxbar .share {
	border-right: 1px solid #000;
}
.auxbar .share .tab {
	height: 32px;
	padding: 0;
	font-family: 'IntelClearBold', sans-serif;
	color: #fff;
	display: inline-block;
	line-height: 31px;
	border-left: 1px solid #000;
}
.auxbar .share .tab:hover,
.auxbar .share .tab.active {
	background-color: #00447b;
}
.auxbar .share .tab a,
.auxbar .share .tab a:visited {
	height: 32px;
	padding: 0 16px;
	font-family: 'IntelClearBold', sans-serif;
	display: block;
	color: #fff;
}
.auxbar .share .tab a:hover {
	text-decoration: none;
}
.auxbar .share .tab.welcome {
	padding: 0 16px;
	border-left: 0;
}
.auxbar .share .tab.welcome:hover {
	background-color: #007dc5;
}

.logo{
	/*line-height: 60px;*/
	padding-top: 10px;
	font-family: 'IntelClearLight';
	font-size: 23px;
}
.logo > label{
	font-family: 'IntelClearLight';
	font-size: 23px;
	font-weight: normal;
	margin-left: -40px;
}
.logo img{
	margin-right: 50px;
	width: 56px;
}

.topnav {
	background: #007dc5 url(../img/bg-topnav.png) repeat-x top center;
	color: #fff;
}
.topnav .logo {
	margin-top: 22px;
}
.nomenu{display: none;}
.topnav.nomenu .logo {
	margin-top: 38px;
}
.topnav .logo-update-center {
	margin: 22px 14px 0 0;
}
.topnav .links {
	font-size: 17px;
	overflow: hidden;
	width: 100%;
}
.links .icon{
	margin: 18px 8px 0 0;
}
.topnav .links > a{
	color: #ffffff;
	display: block;
}
.topnav .links > a > div{
	/*width:135px;*/
	float:left; 
	height: 60px;
	padding-left: 18px;
	padding-right: 19px;
	line-height: 60px;
	font-size: 19px;
	position: relative;
}
.topnav .links > a > div > .div-line{
	width: 1px;
	height: 100%;
	background: #fff;
	float: right;
	background: -webkit-linear-gradient(#007bc2, #171819); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#a1a6a9, #171819); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#a1a6a9, #171819); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#007bc2, #171819); /* Standard syntax */
	opacity: 0.3;
	position: absolute;
	right: 0;
	bottom: 0;
}
.topnav .links .last-menu{border-right: none;}
.lt-ie9 .topnav .links {
	padding-top: 0px;
}
@-moz-document url-prefix() {
	.topnav .links {
		font-family: 'IntelClearRegular', sans-serif;
		/*font-weight: 400;*/
	}
}
.topnav .links > div > a,
.topnav .links > div > span {
	color: #ffffff;
	/*margin-right: 22px;*/
}
.topnav .links a:hover {
	color: #fff;
	text-decoration: none;
}
.topnav .links .active {
	background-color: #0089d9;
	border-bottom: 3px solid #005e96; 
}

a[nav='option'] >div:hover{
		background-color: #0089d9;
	border-bottom: 3px solid #005e96; 
}


.topnav .links-admin {
	height: 40px;
	background: #7fa6c5;
	font-size: 14px;
	clear: both;
}
@-moz-document url-prefix() {
	.topnav .links-admin {
		font-family: 'IntelClearRegular', sans-serif;
		/*font-weight: 400;*/
	}
}
.topnav .links-admin .container {
	padding-top: 10px;
}
.topnav .links-admin a,
.topnav .links-admin span {
	color: #00447b;
	/*margin-right: 22px;*/
}
.topnav .links-admin a:hover {
	color: #fff;
	text-decoration: none;
}
.topnav .links-admin a.active {
	color: #fff;
}
.lt-ie9 .hero h1 { font-size: 40px; }
.lt-ie9 .hero p { font-size: 16px; }
.hero {
	width: 100%;
	height: 300px;
	font-size: 18px;
	background: #c2e1f0 url(../img/bg-hero-landing.jpg) no-repeat top center;
	color: #1570a6;
	line-height: 24px;
}
.oem .hero {
	background: #464646 url(../img/bg-hero-oem.jpg) no-repeat top center;
}
.hero h1 {
	font-size: 40px;
	color: #1570a6;
	margin: 28px 0 15px 0;
	font-family: 'IntelClearLight', sans-serif;
	line-height: 46px;
}
.hero p {
	font-size: 18px;
	margin-bottom: 20px;
}
.hero .cta {
	top: 0px;
	right: 0px;
	position: relative;
}
.hero .cta.btn-contact-us {
	position: absolute;
	top: 333px;
}
.hero .left {
	width: 485px;
	position: absolute;
	left: 0px;
}
.hero .right {
	width: 475px;
	margin-top: 48px;
	position: absolute;
	right: 0px;
}

/*Slideshow*/
#slideshow {
	height:280px;
	background: #c2e1f0 url(../img/bg-hero-landing.jpg) no-repeat top center;
	border: #cfcfcf 1px solid; 
}
#slideshow .slideshow-container {
width:100%;
}

#nav {
	position: relative;
	top: -50px;
	/*left: 144px;*/
	/*z-index: 8;*/
	

}
.nav2{
	position: absolute !important;
	top: 190px !important;
	/*left: 144px;*/
	/*z-index: 8;*/
	padding-left:15px !important;
}
#nav a {
	width:8px;
	height:8px;
	margin:0 8px 0 0;
	background:transparent url(../img/bg-pager.png) no-repeat center center;
	
	text-indent: -999em
}
#nav a:hover, #nav a.activeSlide {
	background:transparent url(../img/bg-pager-over.png) no-repeat center center;
}
.cycle-pager { 
     z-index: 500; position: absolute; top: 10px; overflow: hidden; left:0;
}
.cycle-pager span { 
   width:8px;
	height:8px;
	margin:0 8px 0 0;
	background:transparent url(../img/bg-pager.png) no-repeat center center;
	float:left;
	text-indent: -999em
}
.cycle-pager span.cycle-pager-active {background:transparent url(../img/bg-pager-over.png) no-repeat center center;}
.cycle-pager > * { cursor: pointer;}

.pager-lower{
	margin-left: 4% !important;
	top:252px !important;
}

/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.hero { height: 456px; font-size: 15px; }
	.hero h1 { font-size: 24px; }
	.hero .left { width: 332px; margin-right: 20px; }
	.hero .left img { width: 330px; }
}
@media (max-width: 767px) {
	.hero { height: 456px; height: 456px; font-size: 15px; }
	.hero h1 { font-size: 24px; }
	.hero .left { width: 332px; margin-right: 20px; }
	.hero .left img { width: 330px; }
}*/

/*Login*/
#login {
	width: 470px;
	margin: 90px auto;
}
#login h1 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #00447b;
	margin:0 0 10px 0;
}
#login h4 {
	font-size: 15px;
	color: #464646;
	margin-bottom: 24px;
}
#login input[type="text"],
#login input[type="password"] {
	width: 468px;
}

.intro-body {
	margin-top: 45px;
	margin-bottom: 50px;
}
.intro-body h1 {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 26px;
	margin: -4px 0 14px 0;
}
.intro-body .intro p {
	font-size: 15px;
}
.intro-body .intro .first {
	margin-top: 40px;
}
.purple-bar {
	background-color: #68217a;
	color: #fff;
	padding: 18px 0;
	font-size: 18px;
}
.oem .purple-bar {
	background-color: #00447b;
}
.purple-bar .pull-left {
	padding-top: 5px;
}
.purple-bar a,
.purple-bar a:hover {
	color: #fff;
	text-decoration: none;
}
.purple-bar .pull-right a {
	float: left;
}

.dark-blue {
	background-color: #00447b;
	padding: 45px 0 23px 0;
}
.dark-blue .span12 {
	margin-left: 10px;
}
.dark-blue .span7 {
	margin-left: 0px;
}
.dark-blue .pull-right {
	width: 338px;
}
.row.dark-blue h4 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 18px;
	color: #00adef;
	margin:0 0 10px 0;
}
.dark-blue p {
	color: #fff;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 20px;
}
/*.dark-gray img { margin-right: 20px; }
.dark-gray img.first { margin-left: -10px; }
.dark-gray img.last { margin-right: 0; }
.dark-gray img.logo-partner { margin: 15px 0 0 0; }
.dark-gray img.logo-partner-first { margin-left: -10px; }*/

/*Responsive*/
/*@media (min-width: 768px) and (max-width: 979px) {
	.dark-gray img { width: 228px; }
}
@media (max-width: 767px) {
	.dark-gray img { width: 228px; }
}*/

.callout-box {
	width: 250px;
	height: 97px;
	padding: 18px 30px 0 20px;
	margin: 45px 20px 45px 0;
	float: left;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
.oem .callout-box {
	font-size: 19px;
}
.callout-box img {
	float: left;
	margin-right: 6px;
}
.callout-box.dark-blue {
	background: #1570a6 url(../img/bg-callout-box-darkblue.png) no-repeat bottom right;
}
.callout-box.green {
	background: #007dc6 url(../img/bg-callout-box-green.png) no-repeat bottom right;
}
.callout-box.blue {
	background: #00bef5 url(../img/bg-callout-box-blue.png) no-repeat bottom right;
}
.callout-box.first { margin-left: -10px; }
.callout-box.last { margin-right: 0; }
.callout-box .ext-link {
	position: relative;
	bottom: -21px;
	width: 220px;
	right: -22px;
	text-align: right;
	font-size: 17px;
}
.callout-box .ext-link a,
.callout-box .ext-link a:hover {
	color: #fff;
	text-decoration: none;
}
a.btn-green:focus,
a.btn-green:hover {
	text-decoration: none;
	color: #333;
}
.btn-green.add {
	background: transparent url(../img/bg-btn-add.png) repeat-x top right;
	padding-left: 18px;
}
.btn-green.btn-fileupload {
	width: 406px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload.png) no-repeat top left;
	padding-left: 26px;
}
.btn-green.btn-fileupload-sm {
	width: 304px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload-sm.png) no-repeat top left;
	padding-left: 26px;
}
.btn-green.btn-fileupload-med {
	width: 390px;
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 14px;
	color: #999;
	background: transparent url(../img/bg-btn-fileupload-med.png) no-repeat top left;
	padding-left: 26px;
	display: inline-block;
	zoom: 1;
	border: none;
	outline: none;
	padding: 0 42px 0 28px;
	line-height: 29px;
}
.btn-green.minus {
	background: transparent url(../img/bg-btn-minus.png) repeat-x top right;
	padding-left: 18px;
}
.btn-green.download {
	background: transparent url(../img/bg-btn-download.png) repeat-x top right;
	padding-left: 13px;
}
.btn-green.back {
	color: #fff;
	padding: 0 28px 0 42px;
	background: transparent url(../img/bg-btn-back.png) repeat-x top left;
}
a.btn-green.back:focus,
a.btn-green.back:hover {
	text-decoration: none;
	color: #fff;
}
.btn-green.submit-disabled {
	color: #fff;
	padding: 0 28px 0 42px;
	background: transparent url(../img/bg-btn-back.png) repeat-x top right;
	pointer-events:none;
}
a.btn-green.submit-disabled:focus,
a.btn-green.submit-disabled:hover {
	text-decoration: none;
	color: #fff;
}
.btn-green.plain,
.btn-green.active {
	padding: 0 28px 0 28px;
	background: transparent url(../img/bg-btn-plain.png) repeat-x top left !important;
	color: #333 !important;
}
.btn-green.gray,
.btn-green.gray:hover {
	padding: 0 28px 0 28px;
	background: transparent url(../img/bg-btn-plain-gray.png) repeat-x top left;
	color: #fff;
}
.btn-green.continue,
.btn-green.continue:hover {
	padding: 0px 32px 0 18px;
	background: transparent url(../img/bg-btn-continue.png) repeat-x top right;
	color: #fff;
}

.centered {
	text-align: center;
}

.row{
	margin-right: 0;
}
.row h4 {
	margin: 0 0 6px 0;
}
.zebra .row {
	padding: 11px 20px;
}
.zebra.calendar-detail-request .row {
	padding: 6px 20px;
}
.row.odd {
	background-color: #f9f9f9; /*#e9e9e9;*/
	padding: 44px 0;
}
.row.even {
	padding: 44px 0;
}
.row-thumb {
	margin-left: 10px;
	margin-right: -20px;
}

.calendar {
	width: 440px;
	margin-left: 10px;
	font-size: 14px;
}
.capabilities {
	padding: 0 15px;
}
.capabilities p {
	font-size: 14px;
}
.calendar h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 4px;
}
.trainings h1 {
	margin-top: 36px;
	margin-bottom: 8px;
}
.capabilities h4 {
	font-size: 20px;
}
.calendar ul,
.trainings ul,
.capabilities ul {
	margin: 10px 0 20px 0;
}
.calendar li,
.trainings li,
.capabilities li {
	list-style: none;
	font-size: 14px;
}

.btn-group a {
	margin-top: 10px;
	margin-right: 20px;
}
.files,
.files p {
	font-style: normal;
	font-size: 13px !important;
}

/*Briefing Docs*/
.docs h3 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 18px;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 7px;
}
h3.small-header {
	font-family: 'IntelClearRegular', sans-serif;
	font-size: 18px;
	color: #464646;
}
.docs ul {
	margin: 0 0 22px 0;
}
.docs li>ul {
	margin-top: 10px;
	margin-left: 22px;
}
.docs li {
	list-style: none;
	padding-bottom: 8px;
	/*font-size: 15px;*/
}
li.li-header {
	font-size: 16px;
	font-weight: 600;
	color: #666;
}

.table-striped {
	clear: both;
}
.requests-table th {
	background: #007dc5 url(../img/bg-topnav.png) repeat-x top center;
	color: #fff;
	font-size: 19px;
	font-weight: 100;
	cursor: pointer;
	white-space: nowrap;
	padding: 13px !important;
}
.requests-table th:last-child { border-right: 1px solid #cfcfcf; }
.requests-table th b,
.requests-table th.sorting b {
	margin-top: 3px;
	margin-left: 4px;
	background-position: -288px -120px;
}
.requests-table th.sorting_desc b {
	margin-top: 3px;
	margin-left: 4px;
	background-position: -313px -119px;
}
.requests-table th,
.requests-table td {
	padding: 10px;
}
.requests-table thead input {
	width: 85%;
}
.request-form-group{
	padding-left: 0px;
}
.request-label{
	font-family: 'IntelClearRegular';
	font-size: 16px;
	font-weight: normal;
	color: #6b6b6b;
	padding-left: 0px;
}
.request-checkbox{
	margin-left: 0px !important;
	margin-right: 10px;
}
.single-request .row.odd,
.single-request .row.even {
	font-size: 14px;
	padding: 12px 20px;
	margin-left: 0px;
	border: 1px solid #dddddd;
	border-top: 0;
}
.single-request .row .pull-left {
	width: 680px;
}
.single-request .row:first-child,
.row.row-border {
	border-top: 1px solid #dddddd !important;
}
.single-request .row.odd.grouped,
.single-request .row.even.grouped {
	padding: 0 20px;
}
.single-request label {
	font-size: 14px;
	width: 170px;
	text-align: right;
	margin-right: 40px;
	margin-bottom: 0;
	float: left;
}
.single-request .checkbox-inline,
.single-request .radio-inline {
	text-align: left;
	width: auto;
	margin-right: 15px;
}
.calendar-detail-request label {
	font-size: 13px;
	width: 100px;
}
.calendar-detail-request .row .pull-left {
	width: 320px;
}
.single-request .editable-checklist label {
	font-size: 14px;
	width: 170px;
	font-weight: normal;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 0;
	float: left;
}
.single-request .editable-input .input-medium {
	width: 240px;
}
.single-request label.checkbox,
.single-request label.radio {
	width: auto;
	margin-right: 10px;
	float: none;
}
.single-request select, 
.single-request textarea,
.single-request input {
	margin-bottom: 0;
}
.single-request ul {
	margin: 0;
	padding-left: 0;
}
.single-request li {
	list-style: none;
}
ul.notes {
	margin-left: 13px;
}
ul.notes li {
	list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}
.single-request input[type="text"],
.single-request textarea {
	width: 280px;
}
.single-request-resource input[type="text"],
.single-request-resource textarea,
.single-request-resource select {
	width: 340px;
}
.single-request input.input-medium {
	width: 110px;
}
.star-rating s {
    color: #ccc;
    font-size: 14px;
    cursor: default;
    text-decoration: none;
    line-height: 15px;
}
.star-rating s.rated {
	color: #000;
}
.star-rating {
    padding: 2px;
}
.star-rating s.rated:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2605";
}
.dataTables_length {
	margin-top: 8px;
	float: right;
}
.dataTables_filter {
	float: left;
}
.dataTables_length select {
	width: 60px;
}
.dataTables_info {
	float: left;
}
.dataTables_paginate {
	float: right;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	width: 23px;
	height: 23px;
	background: transparent url(../img/prev.png) no-repeat;
	display: block;
	text-indent: -9999em;
	float: left;
	cursor: pointer;
}
.paginate_disabled_next,
.paginate_enabled_next {
	width: 23px;
	height: 23px;
	background: transparent url(../img/next.png) no-repeat;
	display: block;
	text-indent: -9999em;
	float: left;
	cursor: pointer;
}


/*Surveys*/
.survey-table th {
	vertical-align: top;
}
.survey-table td {
	padding: 0px 4px 24px 4px;
}
.survey-table tr td:first-child {
	/*vertical-align: top;*/
}


/*Modals*/
.modal-backdrop{
	position: fixed !important;
}
.modal input[type='text'] {
	width: 100%;
}
/*select,*/
.modal select{
	height: 40px;
	border: 1px solid #cfcfcf;
	border-radius: 0 !important;
	background: white;
	color: #6b6b6b;
	-webkit-border-radius: 0 !important;
   	-moz-border-radius: 0 !important;
}
.modal-content { padding: 0 12px; }
.modal-header {
	border: 0;
	/*padding-left: 30px;*/
	padding-bottom: 0px;
}
.modal-header h1{
	margin-bottom: 10px;
}
.modal-body form {
	/*margin-left: 18px;*/
}
.modal-footer{
	border: none;
	clear: both;
	padding-top: 32px;
	padding-bottom: 24px;
}


.download-modal {
	width: 466px;
}
.download-modal .modal-header h3,
.download-modal .modal-header h4 {
	font-family: 'IntelClearLight', sans-serif;
	font-size: 36px;
	color: #0079c0;
	margin:19px 0 0 15px;
}
.download-modal .modal-header h4 {
	font-size: 14px;
	color: #6b6b6b;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: 'IntelClearRegular'
}
.download-modal div {
	background-color: #ffffff;
}
.download-modal .modal-body {
	padding: 0 30px;
}
.download-modal input[type="text"],
.download-modal textarea {
	/*width: 394px;*/
	width: 100%;
	height: auto;
	/*border: 0px;*/
}

.location-cols label {
	font-size: 14px;
	font-weight: 500;
}
.location-cols .location {
	width: 180px;
}
.modal-label{
	font-family: 'IntelClearBold';
	color:#6b6b6b;
	font-size: 15px;
	font-weight: normal;
}
.modal-tabs{
	text-align:center;
	text-align: center;
	border-bottom: #b0b0b0 1px solid;
	padding-bottom: 1px;
}

/*Video Player*/
.video-player {
	width: 940px;
	height: 354px;
	background: #e9e9e9;
	margin-bottom: 16px;
	position: relative;
	clear: both;
}
/*single for now*/
.video-player.single-player {
	height: 468px;
}
.video-player .left {
	width: 460px;
	height: 320px;
	padding: 34px 30px 0 30px;
	border-right: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.video-player .single iframe {
	margin-top: 20px;
	margin-left: 114px;
}
.video-player .single h3,
.video-player .left h3 {
	font-size: 18px;
	color: #00adef;
	margin-top: 13px;
}
.video-player .single h3 {
	margin-left: 114px;
}
.video-player .right {
	width: 379px;
	height: 320px;
	padding: 34px 30px 0 30px;
	position: absolute;
	overflow: auto;
	top: 0;
	right: 0;
}
.video-player .right ul {
	width: 350px;
	margin: 0;
	padding: 0;
}
.video-player .right ul li {
	width: 350px;
	font-size: 18px;
	padding-bottom: 10px;
	display: block;
	clear: both;
}
.video-player .right ul li img {
	vertical-align: middle;
	display: inline-block;
	margin-top: -11px;
}
.video-player .right .yt-image {
	width: 120px;
	height: 68px;
	margin-right: 18px;
	overflow: hidden;
	background: #e9e9e9;
	font-size: 0;
	vertical-align: middle;
	display: inline-block;
}
.video-player .right .yt-title {
	width: 186px;
	vertical-align: middle;
	display: inline-block;
}
.video-player .right ul li a,
.video-player .right ul li a:visited,
.video-player .right ul li a:active,
.video-player .right ul li a:hover {
	color: #00adef;
	text-decoration: none;
}

input.error,
textarea.error {
	border:1px solid #cc0000 !important;
}
label.error {
	display:none !important;
	font-size: 11px;
	color: #999;
}
#account-update label.error,
#forgot label.error {
	display:block !important;
}
.small {
	font-size: 12px;
}
a.blue-download {
	font-weight: 600;
}
a.blue-download:hover {
	color: #1570a6;
	font-weight: 600;
	text-decoration: none;
}
.icon-download-blue {
	background-image: url(../img/bg-download-blue.png);
	background-position: 0px 1px;
}
.no-padding {
	padding: 0 !important;
}
.error {
	color:#cc0000 !important;
border: 1px solid #cc0000 !important;
}
.helper-icon {
	margin-left: 5px;
	margin-top: 3px;
	cursor: pointer;
}
.textarea-align {
	margin-top: -42px;
}


/*Typeahead*/
.twitter-typeahead {
	width: 100%;
}
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
ul.normal {
	margin: 0 0 10px 25px;
}
ul.normal li {
	list-style: disc;
}
ul.filterable-list {
	margin: 14px 0 14px 0;
	list-style: none;
}
.ft-label {
	font-family:'IntelClearRegular','helvetica',sans-serif !important;
	text-transform: uppercase;
}
#contact-list-filterable-placeholder {
	margin-top: 7px;
}
#existing-no input,
#existing-no select {
	margin-top: 4px;
	margin-bottom: 6px;
}

/* Notification rules */
.default-rules-list{
	margin-top: 80px;
}

/*Calendar*/
.fc-event,
.fc-event:hover,
.fc-event:visited,
.fc-event:active {
	color: #fff;
	text-decoration: none;
}
.fc-event-time { display: none; }
.fc-grid th {
	text-align: center;
	background: #dddddd;
	border-left: 1px solid #ffffff;
}
.fc-grid th.fc-first {
	border-left: 1px solid #dddddd;
}
.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.cal-webinar {
	background-color: #007ccb !important;
	border: 1px solid #007ccb !important;
}
.cal-enurture {
	background-color: #7ea5c8 !important;
	border: 1px solid #7ea5c8 !important;
}
.cal-newsletter {
	background-color: #f3b539 !important;
	border: 1px solid #f3b539 !important;
}
.cal-email {
	background-color: #9ec94c !important;
	border: 1px solid #9ec94c !important;
}
.cal-placeholder {
	background-color: #E799A3 !important;
	border: 1px solid #E799A3 !important;
}
.cal-legend-block {
	height: 4px;
	margin-bottom: 4px;
}
.cal-event {
	background-color: #f3b539 !important;
	border: 1px solid #f3b539 !important;
}
.calendar-page-blocks {
	width: 172px;
}

#filters h5 {
	font-family: 'IntelClearBold', sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
}
#filters ul {
	margin-left: 0;
}
#filters li {
	font-size: 15px;
	list-style: none;
	padding-left: 18px;
}
#filters li.active {
	background: url(../img/bullet-checkmark.png) no-repeat 0 5px;
}
#filters li.active a {
	color: #000 !important;
}

em.sla-notice {
	color: #999;
	font-family: 'IntelClearRegularItalic', sans-serif;
	font-size: 13px;
	font-style: normal;
	padding-top: 1px;
	float: right;
}

a.delete-file,
a.delete-file:hover {
	background: transparent;
	border: 0;
	/*text-shadow: none;
	box-shadow: none;
	margin-right: 1px;*/
	/*padding: 4px 6px;*/
}
a.delete-file .icon-trash {
	background: transparent url(../img/icon-delete.png) no-repeat center center;
	width: 13px;
	height: 13px;
	display: block;
}
a.delete-file .icon-trash:before {
	content: "";
}
.progress {
	height: 11px;
	width: 140px !important;
}
td.in-progress, td.in-progress a {
	font-family:'IntelClearBold',sans-serif;
	/*font-family:'IntelClearBoldItalic',sans-serif;*/
}
td.in-progress { background-color: #fdfbf0 !important; } /*d9f3fd blue */

/*Responsive*/
@media (min-width: 768px) and (max-width: 979px) {
	.btn-group { white-space: normal; }
}
@media (max-width: 767px) {
	.btn-group { white-space: normal; }
}

footer {
	height: 53px;
	color: #000;
	background: #eeeeee;
	text-align: left;
	font-size: 12px;
	padding: 12px 0 0 0;
	margin-top: 0px;
	font-size: 14px;
	border-top: 1px solid #acacac;
}
* {
	margin: 0;
}

.push { margin-top: 40px; }
footer, .push {
	height: 53px; /* .push must be the same height as .footer */
}
footer.anchor {
	width: 100%;
	bottom: 0;
	position: absolute;
}
footer ul {
	margin: 0 0 0 0;
}
footer li {
	margin-left: 22px;
	list-style: none;
	display: inline;
}
footer a:hover {
	text-decoration: none;
}
footer .intel-corporation{ float: left;	color: #888888; padding: 0px;}
footer .intel-corporation li{margin-left: 0px;}
footer .terms-privacy{ float: right; color: #1570a6; }

/* Custom fields */
.custom-fields table tr{
	height: 40px;
	line-height: 40px;
}
.custom-fields table th{
	text-align: center;
	font-weight: bold;
	background: #00adef;
	color: #fff;
	border-right: 2px solid #e4e4e4;
}
.custom-fields table td{
	text-align: center;
}
.custom-fields > label{
	font-weight: bold !important;
}
#addCustomFieldsBtn{
	margin: 10px 0 15px;
	border: none;
	outline: none;
}
.custom-field-single {
	display: none;
}
#customField .modal-body{
	max-height: none !important;
}
div.remove {
	width: 16px;
	height: 16px;
	background: transparent url(../img/btn-remove.png) no-repeat center center;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.edit {
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.remove-gray {
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	float: right;
	margin-top: -32px;
	margin-right: 5px;
}
div.removeUserRule{
	float: left !important;
	margin-top: 3px !important;
}
.main-content textarea{
	border: 1px solid #878787;
	-webkit-border-radius: 0;
	font-family: "Intel Clear Regular", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 0 0 15px 0;
	padding: 5px;
	height: inherit;
	width: 100%;
}
.chkLbl{
	width: auto !important;
}
.chk-radio > input{
	float: left;
	margin-right: 5px;
}
.chk-radio{
	margin-bottom: 7px !important;
}
.custom-title{
	margin-top: 10px;
}
#registerForm .remove{
	margin-top: -38px;
	margin-right: -20px;
}
#registerForm .remove-gray{
	margin-top: -38px;
	margin-right: -20px;
}
#registerForm .edit{
	margin-top: -38px;
	/*margin-right: -35px;*/
}
#registerForm .remove-ta{
	margin-top: 15px !important;	
}
#registerForm .edit-ta{
	margin-top: 15px !important;	
}
.register-fields div > label, .register-fields input[type=radio]{
	width: auto !important;
}
.register-fields input, .register-fields textarea, .register-fields select{
	width: 94% !important;
}
.submit-btn label{
	line-height: 50px;
	font-size: 20px !important;
	font-weight: bold !important;
	font-family: "Intel Clear Light", Helvetica, Arial, sans-serif !important;
}
.modal-placeholder > .modal-dialog {
    width:100% !important;
}
.modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.text-modal {
	width: 358px;
}
/*.modal-body {
	max-height: 540px;
}*/
.twitter-typeahead {
	display:inline !important;
}

.btn-green{
	background: rgb(140,177,42);
	font-family: 'IntelClearBold';
	color: white;
	border: 0;
	padding: 8px 22px 8px 22px;
	font-size: 14px;
	margin-right: 10px;
	outline: none;
}
.btn-blue{
	background: #1273c4;
	font-family: 'IntelClearBold';
	color: white;
	border: 0;
	padding: 8px 22px 8px 22px;
	font-size: 14px;
	margin-right: 10px;
	outline: none;
}
.btn-blue:hover{
	color: white;
	text-decoration: none;
}
.btn-green:hover{
	color: white;
	text-decoration: none;
}
.btn-gray{
	background: #ccc;
	font-family: 'IntelClearBold';
	color: white;
	border: 0;
	padding: 8px 22px 8px 22px;
	font-size: 14px;
}

input[type='checkbox']{
   background: #888 !important;
   border: none !important;
   color: #000 !important;
}

.request-buttons{
	text-align: center; padding-top:70px;
}
.menu-list{
	height:280px;
	background:#cfcfcf;
}
.menu-list ul{
	width:100%;
	height:100%;
	margin:0;
	list-style-type:none;
	overflow: hidden; /*hidden for now*/
	padding: 0;
	border: #acacac 1px solid;
}
.menu-list ul li{
	min-height:46px;
	background:#EDEDED;
	margin-bottom:1px;
	cursor: pointer;
}
.menu-list  .item-container{
	
	padding-left:30px;
	height:46px;
	display:table-cell;
	vertical-align:middle;
	width: 350px;
}
.item-container .icon{
	margin: 8px 10px 0 7px;
}
.item-container .item-text{
	margin: 10px;
	font-size: 18px;
	font-family: 'IntelClearLight';
}
.menu-list ul li:hover{
	background: white;
	border-left:#1273c4 5px solid;
	
}
.menu-list ul li:hover h4{
	color:#1273c4;
}
.menu-list ul li:hover .item-container{
	padding-left: 25px;
}
.table-title{
	background:#007DC4 url(../img/bg-topnav-lg.png) repeat-x top center;
	width:100%;
	border: #acacac 1px solid;
	border-bottom:none;
	border-radius:2px;
}
.table-title h1{
	margin:0;
	color:white;
	padding:20px 0 20px 30px;
	font-size:28px;
}
.table-content{
	width:100%;
	min-height: 100px;
	border:#acacac 1px solid;
	border-top:none;
}
.table-content h4{
	padding:20px 0 10px 30px;
	font-family: 'IntelClearRegular';
}
.table-content input{
	margin:0px 0 20px 30px;
}
.table-content tr{
	height: 45px;
	font-family: 'IntelClearRegular';
	color:#6b6b6b;

}
.table-content .odd{
	background: #f7f7f7;
}
.table-content tr td:first-child{
	padding-left: 30px
}
table.list-table-home {
	border: 1px solid #acacac;
	border-top: none;
}
.gray-links a,
.gray-links a:hover {
	color: #6b6b6b;
	text-decoration: none;
}
.top-lnk a,
.top-lnk a:hover {
	font-size: 14px !important;
	text-decoration: none;
	color: white;
	padding-right: 10px;
	position: relative;
	bottom: 5px;
}

.kt-icon{
	float: right;
	width: 45px;
	height: 45px;
	margin-top: 8px;
	border: 2px solid #007dc6;
	border-radius: 30px;
	text-align: center;
	font-family: 'IntelClearRegular';
	font-size: 20px;
	padding-top: 10px;
	cursor: pointer;
}
.kt-menu-ctn,
.manage-menu-ctn{
	position: absolute; 
	right: 30px; 
	top: 40px;
	padding-top: 20px;
	display: none;
	z-index: 9000;
}
.manage-menu-ctn{
	top: 39px;
}
.kt-menu{
	width:120px; 
	height:82px; 
	font-family:'IntelClearRegular';  
	border: 1px solid #6b6b6b; 
	text-align: right; 
	background: #ffffff;
	padding: 15px;
}
.manage-menu-ctn .kt-menu {
	width: 180px;
	height: 210px;
}
.kt-menu a{
	font-size: 16px; 
	color:#6b6b6b !important;
	text-decoration: none;
}
.kt-menu a:hover { color: #1273c4 !important; }
.icon-xl{
	font-size: 39px;
	margin-right: 0;
}
.highlight{
	font-weight: bold;
}
.box-button-container{
	height:180px;
	margin-bottom:10px;
	padding-right:0;
}
.box-button{
	background:#f7f7f7;
	height:180px;
	width:2000px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	border: #cfcfcf 1px solid;
	max-width: 240px;
}
.box-button h3{
	color:#737373;
	padding-top: 10px;
	font-size: 21px;
}
.box-button .icon{
	color:#737373;
}
.box-button:hover{
	background: white;
	color: rgb(0,121,192) !important;
	cursor: pointer;
	border-bottom: rgb(0,121,192) 5px solid;
	border-spacing: 0 10px
}
/*.box-button:hover .icon{
	display: block;
height: 65px;
width: 65px;
line-height: 65px;
-moz-border-radius: 32.5px;
border-radius: 32.5px;
color: inherit;
left: 79px;
border: 2px solid;
margin-right: 0;
margin-left: 0;
}*/

.lnk:hover, .lnk:focus{
	text-decoration: none;
	color:inherit;
}
.box-button:hover h3{
	color: #1273c4 !important;
	/*position: relative;
	bottom: 12px;*/
}



.request-header{
	text-align:center;
	padding-bottom:30px;
	margin-top:60px;
	position: relative;
}
.header-btn {
	position: absolute;
	right: 0;
	top: -35px;
}
.header-btn .btn-green { margin-right: 0; }
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    max-width: 240px
}



/* CALENDAR */
h1.calendar-menu {
position: absolute;
color: white;
font-size: 19px;
padding-left:15px;
padding-top:6px;
}

h1.placeholder_button {
position: absolute;
color: white;
font-weight: bold;
font-size: 17px;
margin-left:30px;
margin-top:7px;
}

.calendar_menu_tabs {
margin-top:15px;
border-style: solid;   
border-width: 1px;   
border-color: rgb(172, 172, 172);   
background-color: rgb(247, 247, 247);
}

.filter-list li a {
color: rgb(117, 117, 117);
}
/**/

/* learn submenu style */
.learn-submenu{
	display: none;
	width: 220px !important; 
	background: #ffffff; 
	border: 1px solid #c9c9c9;
	border-top: 0;
	position: absolute; 
	left: 132px; 
	top: 60px;
	z-index: 9000;
	color:#6b6b6b;
	padding: 0 18px;
	font-family: 'IntelClearRegular';
	font-size: 15px !important;
	box-shadow: 1px 1px 0px #c9c9c9;
}
.learn-submenu a{
	color:#6b6b6b;
}
.learn-submenu ul{padding: 0px;}
.learn-submenu ul li{
	list-style: none;
	height: 35px;
	line-height: 35px;
}
.learn-submenu ul li:hover{
	color: rgb(0,121,192) !important;
}
.learn-submenu ul li .icon{
	margin: 8px 10px 0 0;
}
/**/

@media(max-width: 991px){
	.slideshow img{
		height: 0px !important;
	}
}

/* icons  */
.icon {
	background: url('../img/icons.png') no-repeat top left;
	float: left;
}
.icon.submenu {
	width: 25px !important;
}
.nav-tabs-simple .icon {
	margin-right: 10px;
}

.icon.duplicate { background-position: 0px 0px; width: 38px; height: 39px;  } 
.icon.duplicate-active { background-position: 0px -49px; width: 38px; height: 39px;  } 
.icon.request-progress-active { background-position: 0px -98px; width: 34px; height: 34px;  } 
.icon.request-progress { background-position: 0px -142px; width: 34px; height: 34px;  } 
.icon.webinar-sm { background-position: 0px -186px; width: 24px; height: 20px;  } 
.icon.webinar-sm-active{ background-position: 0px -216px; width: 24px; height: 20px;  } 
.icon.webinar-lg { background-position: 0px -246px; width: 40px; height: 34px;  } 
.icon.webinar-lg-active  { background-position: 0px -290px; width: 40px; height: 34px;  } 
.icon.setup { background-position: 0px -334px; width: 29px; height: 28px;  } 
.icon.setup-active { background-position: 0px -372px; width: 29px; height: 28px;  } 
.icon.new-request { background-position: 0px -410px; width: 36px; height: 37px;  } 
.icon.new-request-active { background-position: 0px -457px; width: 36px; height: 37px;  } 
.icon.webinar-content { background-position: 0px -504px; width: 30px; height: 26px;  } 
.icon.webinar-content-active{ background-position: 0px -540px; width: 30px; height: 26px;  } 
.icon.audience { background-position: 0px -576px; width: 30px; height: 30px;  } 
.icon.audience-active { background-position: 0px -616px; width: 30px; height: 30px;  } 
.icon.campaign-setup { background-position: 0px -656px; width: 32px; height: 18px;  } 
.icon.campaign-setup-active { background-position: 0px -684px; width: 32px; height: 18px;  } 
.icon.publishing { background-position: 0px -712px; width: 29px; height: 29px;  } 
.icon.publishing-active { background-position: 0px -751px; width: 29px; height: 29px;  } 
.icon.newsletter-sm { background-position: 0px -790px; width: 20px; height: 23px;  } 
.icon.newsletter-sm-active { background-position: 0px -823px; width: 20px; height: 23px;  } 
.icon.newsletter-lg { background-position: 0px -856px; width: 34px; height: 37px;  } 
.icon.newsletter-lg-active { background-position: 0px -903px; width: 34px; height: 37px;  } 
.icon.nurture-sm { background-position: 0px -950px; width: 25px; height: 22px; position: relative; right: 3px;  } 
.icon.nurture-sm-active { background-position: 0px -982px; width: 25px; height: 22px; position: relative; right: 3px;  } 
.icon.nurture-lg { background-position: 0px -1014px; width: 39px; height: 33px;  } 
.icon.nurture-lg-active { background-position: 0px -1057px; width: 39px; height: 33px;  } 
.icon.page-sm { background-position: 0px -1100px; width: 24px; height: 21px;  } 
.icon.page-sm-active { background-position: 0px -1131px; width: 24px; height: 21px;  } 
.icon.page-lg { background-position: 0px -1162px; width: 41px; height: 34px;  } 
.icon.page-lg-active { background-position: 0px -1206px; width: 41px; height: 34px;  } 
.icon.mail-sm { background-position: 0px -1250px; width: 22px; height: 23px;  } 
.icon.mail-sm-active { background-position: 0px -1283px; width: 22px; height: 23px;  } 
.icon.email-md { background-position: 0px -1316px; width: 30px; height: 30px;  } 
.icon.email-md-active { background-position: 0px -1356px; width: 30px; height: 30px;  } 
.icon.mail-lg { background-position: 0px -1396px; width: 36px; height: 36px;  } 
.icon.mail-lg-active { background-position: 0px -1442px; width: 36px; height: 36px;  } 
.icon.event-sm { background-position: 0px -1488px; width: 21px; height: 21px;  } 
.icon.event-sm-active { background-position: 0px -1519px; width: 21px; height: 21px;  } 
.icon.event-lg { background-position: 0px -1550px; width: 34px; height: 34px;  } 
.icon.event-lg-active { background-position: 0px -1594px; width: 34px; height: 34px;  } 
.icon.campaign { background-position: 0px -1638px; width: 36px; height: 36px;  } 
.icon.campaign-active { background-position: 0px -1684px; width: 36px; height: 36px;  } 
.icon.list-sm { background-position: 0px -1730px; width: 22px; height: 14px;  } 
.icon.list-sm-active { background-position: 0px -1754px; width: 22px; height: 14px;  } 
.icon.list-lg { background-position: 0px -1778px; width: 38px; height: 25px;  } 
.icon.list-lg-active { background-position: 0px -1813px; width: 38px; height: 25px;  } 
.icon.pencil { background-position: 0px -1848px; width: 16px; height: 15px;  } 
.icon.pencil-active, .icon.pencil:hover { background-position: 0px -1873px; width: 16px; height: 15px;  } 
.icon.home { background-position: 0px -1898px; width: 22px; height: 22px;  } 
.icon.learn { background-position: 0px -1930px; width: 15px; height: 22px;  } 
.icon.plan { background-position: 0px -1962px; width: 22px; height: 23px;  } 
.icon.request { background-position: 0px -1995px; width: 22px; height: 22px;  } 
.icon.review { background-position: 0px -2027px; width: 22px; height: 22px;  }
.icon.resource_list { background-position: 0 -2259px;width: 20px; height: 25px; } 
.icon.social_media { background-position: 0 -2289px; width: 20px; height: 25px; } 
.icon.survey { background-position: 0 -2319px; width: 20px; height: 25px;} 
.icon.url { background-position: 0 -2349px; width: 20px; height: 25px; } 
.icon.media_upload { background-position: 0 -2379px; width: 34px; height: 32px; } 
.icon.presentation { background-position: 0 -2421px; width: 35px; height: 32px; } 
.icon.speakers { background-position: 0 -2463px; width: 36px; height: 34px; }
.icon.additional-lg { background-position: 0px -2103px; width: 40px; height: 34px;  }
.icon.additional-lg-active { background-position: 0px -2057px; width: 40px; height: 34px;  }     

.step-number{
	position: absolute;
	left: 7px;
	top: -7px;
}
.step-number i{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	border: #bfbfbf 1px solid;
	background: white;
	color: #737373;
}
.box-button:hover .step-number{
	position: absolute;
	left: 7px;
	top: -17px;
}
.box-button.complete .step-number i , .box-button.incomplete .step-number i{
	color: white;

}
.box-button.complete, .box-button.incomplete{
	background: white;
}
.box-button.complete h3, .box-button.incomplete h3{
	color:rgb(0,121,192)!important;
}
.box-button.complete .step-number i{
	background: #8cb12a;
	border: none;

}
.box-button.incomplete .step-number i{
	background: #f7ba00;
	border: none;
}
.box-button:not(.incomplete):not(.complete):hover .step-number i{
	background:rgb(0,121,192);
	border: none;
	color: white;
}
.box-button.inactive{
	pointer-events: none;
	opacity: 0.5;
}

.box-button .icon{
	float: none;
	margin: 0 auto;
	margin-top: 25%;
	height: 39px !important;
}
.box-button.icon-small .icon{
	height: 34px !important;
}
.box-button h3{
	position: relative;
	height: 66px;
}
.box-button h3.spaced{
	padding-top: 30px;
}
.circled {
	border: transparent 2px solid;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	float: none;
	margin: 0 auto;
	margin-top: 20px;
	color: #6b6b6b;
}

label.col-md-3{
	text-align: right;
	padding-right: 0;
}

/*Modals*/
.modal-content {
	/*min-height: 700px;*/
}
.icc-modal-dialog {
	min-width: 900px;
}
.icc-modal-content {
	padding-left: 5%;
	padding-right: 5%;
}
.icc-modal-header {
	text-align:center;
	padding-top:60px;
}
.icc-modal-header img.close {
	margin-right: 15px;
	position: absolute;
	right: 0;
	top:15px;
}
.icc-modal-footer {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	font-size: 16px !important;
	position: absolute;
	bottom: 0;
	right: 0%;
}
.icc-modal-footer .btn-green {
	font-size: 16px;
}

#campaign-setup .modal-dialog,
#placeholder-setup .modal-dialog{
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
}
#webinar-content .modal-dialog,
#placeholder-setup .modal-dialog,
#webinar-setup .modal-dialog{
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
}

#webinar-content .form-horizontal .control-label{
	padding-top: 0px !important;
}

#landing-content .modal-dialog, 
#placeholder-setup .modal-dialog, 
#landingpage-setup .modal-dialog {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
}

label.col-md-3{
	text-align: right;
	padding-right: 0;
}

#webinar-tabs  li a{
	width: 200px;
	height: 64px;
	font-family: 'IntelClearLight';
	font-size: 24px;
	padding-top: 20px;
}
#webinar-s .active{
	background: white;
	color: #737373;
	cursor: pointer;
	border-bottom: rgb(0,121,192) 5px solid;
	border-spacing: 0 10px
}
.iconned-btn{
	/*min-width: 210px; */
	display: inline-block;
	/* height: 40px; */
	position: relative;
	padding-right: 57px;
	padding-left: 22px;
	text-align: center;
	/* font-family: 'IntelClearBold'; */
	/* font-size: 14px; */
}
.iconned-btn:focus{
	color: white;
}
.iconned-btn .icon-plus-media{
	margin-left: 20px;
	padding-right: 0;
	height: 36px;
	background: #6b6b6b;
	display: inline-block;
	position: absolute;
	width: 36px;
	text-align: center;
	bottom: 0px;
	right: 0;
}
.iconned-btn span i{
	position: relative;
	top: 8px;
	font-size: 12px;
}
.input-group input{
	border-radius: 4px 0 0 4px !important;
}

.chosen-container{
	width: 100%; /*ejh removed !important*/
}
.chosen-container-multi .chosen-choices {
	border: 1px solid #cfcfcf;
	height: 40px;
	border-radius: 4px;
	padding: 6px 12px 6px 15px;
}
.notification-recipients ul{
	padding: 0;
}
#webinar-audience .form-group label{
	text-align: right;
}

.bar {
	background-color: #62c462 !important;
}
.progress{margin-bottom: 0px;}

.custom-html{
	padding: 5px 10px;
	margin-left: 15px;
	font-family: 'IntelclearLight';
	font-size: 15px;
}
.add-asset-link{
	width: 1075px;
	margin: 0 auto;
	text-align: right;
	color: rgb(0,121,192);
}
.add-asset-link a{color: rgb(0,121,192);}
/* Email Content - Slider  */
.bx-pager{display: none;}
.bx-wrapper{
	max-width: 90% !important;
	margin: 15px auto;
}
.bx-wrapper .bx-viewport{
	height: inherit !important;
	border: none;
	box-shadow: none;
}
.bx-wrapper .bx-viewport .slide{
	width: 145px !important;
	height: 80px !important;
	border: 1px solid #acacac;
	background-color: #f7f7f7;
	color: #787878;
	font-family: 'IntelClearRegular';
	font-size: 15px;
	text-align: center;
	padding: 5px 25px;
}
.bx-wrapper .bx-viewport .slide:hover{
	border: 2px solid #acacac;
}
.active-asset{
	border: 2px solid rgb(0,121,192) !important;
	background-color: #ffffff !important;
	color: #0079c0 !important;
	font-family: 'IntelClearBold' !important;
}
.bx-wrapper .bx-next{
	background: url(../img/icons.png) no-repeat top left;
	background-position: 0 -2613px; 
	height: 26px;
	right: -45px;
}
.bx-wrapper .bx-prev{
	background: url(../img/icons.png) no-repeat top left;
	background-position:  0 -2542px; 
	height: 26px;
	left: -45px;
}
.bx-wrapper .bx-next:hover{
	background: url(../img/icons.png) no-repeat top left;
	background-position: 0 -2578px;
}
.bx-wrapper .bx-prev:hover{
	background: url(../img/icons.png) no-repeat top left;
	background-position: 0 -2507px;
}
.asset-list > a{
	width: 145px !important;
	text-decoration: none !important;
}
/******/

.box_file_link{
	background: #f7f7f7;
	min-height: 65px;
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border: #cfcfcf 1px solid;
	display: none;
}

.file_name{
	margin-top: 10%;
}
a.action-icon {
	color: #6b6b6b;
	font-size: 16px;
	margin-right: 7px;
}
a.action-icon:hover { color: #1570a6; text-decoration: none; }
a.icon-close:hover, a.icon-ban:hover { color: #cc0000 !important; }
.gray-box {
	padding: 18px 8px;
	margin-bottom: 5px;
	background-color: #f7f7f7;
}
.td-action { text-align: center; }

.panel { margin-bottom: 10px; }
.panel.help-for-learn {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #6b6b6b;
    font-size: 15px;
}
.panel.help-for-learn .panel-body {
    padding: 25px;
}
.secondary-background-color{
	background-color: #f7f7f7;	
}
.panel-body ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.panel-body li:first-child{
	width: 34.1%;
}
.panel-body li {
    float: left;
    margin-right: 5%;
    width: 25%;
}
.panel-body li:last-child {
    margin-right: 0;
}
.panel-body.auto-width li:first-child,
.panel-body.auto-width li {
	width: auto;
}
.panel-body a {
    color: #1273c4;
}
/*
.btn-file:hover{
	color: #999;
}
*/

.add-social-btn{
	height:27px;
	margin-top:-6px;
	background-position:center right;
	font-size:12px;
	padding: 7px 42px 10px 13px;
}

